[2021-07-12 16:15] ishank011 opened #1882 "eosfs: inherit acl attrs for files from parent directory"
When running `eos file info` for a file, we do not get the ACL sys attributes which are followed by its parent, and these are expected to be set to determine the proper permissions for files for specific users. Hence, we need to add logic to inherit these for files from their parent directories.

[2021-07-12 16:39] ffurano commented on #1882
Are you referring to just displaying in reva these file acls merged with the acls of the base path or what
else am I missing?

Just displaying these attributes OR-ed in reva is doable, although pretty dirty AFAIU. I would prefer to solve this on the eos side, that would make reva coherent with the output of "eos file info", avoiding future confusion in future admins

Please let me know if I unders

[2021-07-13 07:20] ishank011 commented on #1882
Yes, having it in EOS would be the most ideal but at the moment it's not present, and this is needed by the UI to display the appropriate permissions. For example, when opening a file in any of the office applications, we need to determine based on the permissions passed by EOS whether we want to open it in view or edit mode.

Here's an example:
[code]

[2021-07-13 09:28] ffurano commented on #1882
I see what you mean

Are we sure that the acl is applied to abc.txt even if it's not displayed in the text output?

Shall we merge the output with just the acls of the base path or shall we get the acls of all the parent directories?

[2021-07-13 10:54] #1831 closed

[2021-07-13 15:18] #1773 closed

[2021-07-15 14:23] ishank011 opened #1894 "Retry registering apps instead of waiting for specified amount of time"
To be followed up after https://github.com/cs3org/reva/pull/1785. Currently, we wait for 2 seconds for the grpc server to come up before registering an app provider in the registry.

https://github.com/cs3org/reva/blob/836d06f17ca3f8118d4513ed68ddc902b31109e7/internal/grpc/services/appprovider/appprovider.go#L96-L108

This logic can be improved by continuing to retry in case a specific error code

[2021-07-15 15:25] ishank011 commented on #1882
Yep, files don't have system attributes. We support file sharing by setting user attributes but we also need these for files present inside shared folders for multiple use cases.
We just need to check the immediate parent directory because that will inherit the ACLs from its parents.

[2021-07-21 09:48] jimil749 commented on #1814
@ishank011 talking about the "fetching" stage (getting plugins from github) I tested the working of hashicorp's [go-getter](https://github.com/hashicorp/go-getter) package. It seems to suitable for our use case. I had a small question about the same. Do we download the source code into some `/tmp` directory or inside the reva sub-directory? Also when where should the binaries be stored after compi

[2021-07-22 09:27] jimil749 commented on #1814
So I was trying to add the go-getter library in the `plugin` pkg and it seems to be working. I used the go-getter library to download the plugins from github (https://github.com/jimil749/json) into `./remote-plugins/userprovider/json/`. I then used the compile func to compile the package into an exec (stored at `./bin/userprovider/json`) and loaded the executable. The **only** constraint that we h

[2021-07-23 08:29] ishank011 opened #1917 "Set up pipeline to update protobuf definitions from the EOS repo and generate go bindings"

[2021-07-26 06:47] #1779 closed

[2021-07-26 07:37] ishank011 opened #1923 "Changes to appregistry and the HTTP appprovider service"
To keep track of the changes left from https://github.com/cs3org/reva/pull/1785:
- The token expiration time should not be a configurable parameter. Figure out a way to pass that to the HTTP layer without having to dismantle it
- Coordinate with the web team to pass the view mode as a parameter to the GET call
- Add the option to restrict view modes in apps itself

[2021-07-27 11:36] ishank011 opened #1928 "Ensure that etags returned by storage drivers don't have enclosing quotes"
Following discussion in https://github.com/cs3org/reva/pull/1870

[2021-07-28 09:21] AndreasSko opened #1933 "Provide objectSize for S3 upload to reduce memory usage"
When using OCIS with the S3ng storage enabled, I noticed relatively high memory usage when uploading files. This could be more than 1GB for a single user. I did a bit of digging and noticed that in https://github.com/cs3org/reva/blob/7d251bffd9e699af55f811c1dbb54f4e9a14f377/pkg/storage/fs/s3ng/blobstore/blobstore.go#L63 no objectSize is provided, but rather just a [`-1`](https://github.com/minio/m

[2021-07-29 12:59] dagl opened #1936 "Add support for health check"
https://github.com/grpc/grpc/blob/master/doc/health-checking.md

[2021-07-30 08:32] ishank011 commented on #1933
@aduffeck @butonic this looks like a pretty nice improvement. Can you take a look at @AndreasSko's changes?

[2021-07-30 09:22] aduffeck commented on #1933
@AndreasSko nice find. I think it would be good to keep the `io.Reader` interface in the signature though.

Did you try specifying the `PartSize` in the upload options by any chance? That should also limit the memory usage by using smaller chunks (by default it uploads 512MB chunks apparently). Maybe something like

[code]

[2021-07-30 09:25] aduffeck commented on #1933
If that's not an option maybe we could try to infer the file size dynamically if possible instead, e.g. like so (untested)
[code]

[2021-07-30 13:44] AndreasSko commented on #1933
Yeah, that's a good idea! I will try that out and open a PR if it looks good :slightly_smiling_face:

[2021-08-02 06:23] #1933 closed

[2021-08-02 06:27] labkode commented on #1936
@dagl I think this is a nice idea. Can you start with the implementation?

[2021-08-03 12:03] ishank011 commented on #1923
The changes to be made after the discussion today:
1. Need to add a new endpoint to the HTTP service which would return all the supported mime types along with the apps that they can be opened with. This would utilize the newly added `ListSupportedMimeTypes` CS3APIs call. The response would look like:

[code]

Note that we're returning the mime types here instead of the extension because we can ad

[2021-08-03 12:30] #1765 closed

[2021-08-03 12:57] glpatcern commented on #1923
Thanks Ishank for the nice summary. Following your list:

3. I'll create a PR in the wopiserver, I expect we could provide a response to `/wopi/iop/openinapp` that fully matches the GRPC or HTTP AppProviderResponse, such as:
[code]
(Side-note: who decides the `method`? shall we rather assume that if `form-parameters` are empty then `method` = `GET`, else `POST`?)

5. Just to report my comment: to

[2021-08-03 13:23] ishank011 commented on #1923
@glpatcern I think the token dismantling should happen in the driver, since the TTL would be decided by the reva token. Maybe wopiserver can just return the token itself.

I think this should also be passed from the driver. That way we have a complete URL object being returned as part of the CS3APIs call (URL, form, headers, method). What do you think?

+1

[2021-08-03 14:46] ishank011 commented on #1923
For the listing endpoint at `/app/list/`, we have
[code]

[2021-08-03 15:00] glpatcern commented on #1923
You're absolutely right, my mistake. The wopiserver will definitely not dismantle the Reva token and will only return `{ "access_token" : "xyz"}` - which is on its own not to be dismantled by Reva, so responsibilities stay separated.

Why not, but then if we want the driver to decide the method it could do so based on a config parameter, or on some kind of defaults. E.g. the wopi driver could defa

[2021-08-04 08:51] dagl commented on #1936
Sure, we can try to take care of this

[2021-08-04 10:02] wkloucek commented on #1923
- [Collabora / MS Office Online (WOPI)](https://github.com/cs3org/wopiserver/blob/41d82fc5652582e3fdc3731a5b120885f8b81b8a/src/wopiserver.py#L351-L353)
   - WOPIsrc
   - access_token
   - access_token_ttl (valid until -> unix timestamp milliseconds)
   - there are more parameters which could be used in the future and are already used by oC10: language, revisionhistory, title, closebutton
- [CodiMD

[2021-08-05 06:47] labkode commented on #1923
@wkloucek I'll be discussing with @butonic today about a way to have finer controls for sharing permissions and I can fold in this requirement for view-only mode.

[2021-08-05 06:57] glpatcern commented on #1923
I concur we need a view-only "value" in the set of permissions, and I started to do some some work in this direction in the context of the deny permission implementation. Let's review what we have.

[2021-08-05 11:30] #1814 closed

[2021-08-05 11:31] ishank011 opened #1958 "Enable logging in runtime plugins"

[2021-08-05 13:01] labkode opened #1959 "Create how-to guide on how to implement a plugin"
As a developer I want a to understand what is the flow of using plugins and how I should develop one.

[2021-08-05 13:10] jimil749 commented on #1959
Yep, I am planning to add the documentation of the plugin architecture and use-case in https://reva.link/docs/concepts/

[2021-08-05 16:19] jimil749 opened #1961 "Enable fetching plugin from a github repository"
[code]

The above configuration should download, compile and load the plugin from the provided URL.

[2021-08-06 08:23] michielbdejong opened #1962 "How to run revad with TLS enabled"
Can I run revad with a TLS certificate for grpc and https? If so, how?
I searched for this in the docs and in the code but couldn't find how to do it.

[2021-08-06 08:26] ishank011 commented on #1923
I think we can add this filtering to the HTTP service instead of CS3APIs as it doesn't really fit there.

[2021-08-06 09:37] michielbdejong opened #1964 "Support empty prefix for [http.services.ocmd]"
When I edit revad.toml from:
[code]
To:
[code]
Then:
* http://revad:19001/ocm/ocm-provider/ changes from a 200 to a 401
* http://revad:19001/bla/ocm-provider/ changes from a 401 to a 200

But when I change it to `prefix = ""` that does not have the desired effect of turning http://revad:19001/ocm-provider/ from a 401 to a 200.

There is probably an if-statement somewhere that makes this config var

[2021-08-06 09:44] michielbdejong commented on #1964
Ah yes, there is it: https://github.com/cs3org/reva/blob/v1.11.0/internal/http/services/ocmd/ocmd.go#L50-L52
Will have to work out how to differentiate between
 http://revad:19001//ocm-provider/ (which would be the literal interpretation of `prefix = ""`)
and
 http://revad:19001/ocm-provider/ (which is desired)

[2021-08-06 09:51] michielbdejong commented on #1964
Ah, one service can be exposed at the root, so this should work fine, thanks to: https://github.com/cs3org/reva/blob/v1.11.0/pkg/rhttp/rhttp.go#L242

[2021-08-06 10:07] michielbdejong commented on #1964
Ah yes. Just had to [move ocdav out of the way](https://github.com/cs3org/ocm-test-suite/commit/f073081b8299701a2ba137b163f0669e2a5c1025) and now it work! :)

[2021-08-06 10:07] #1964 closed

[2021-08-09 12:13] #632 closed

[2021-08-09 12:56] michielbdejong commented on #1962
While it seems to be impossible to run revad with https directly, it does refer to itself with https for instance here:
https://github.com/cs3org/reva/blob/v1.11.0/internal/http/services/ocmd/config.go#L64

So should revad always be run behind a TLS-offloading proxy, then? Or am I missing something?

[2021-08-09 13:27] michielbdejong commented on #1962
Answered in https://gitter.im/cs3org/REVA?at=61112c45933ee46b754a5fe4

[2021-08-09 13:54] michielbdejong opened #1979 "Support /ocm/shares/ POST as JSON"
According to the OCM-API spec, [POSTs to /ocm/shares/](https://cs3org.github.io/OCM-API/docs.html#/paths/~1shares/post) should have a JSON request body.

Yet the [code that handles then in revad](https://github.com/cs3org/reva/blob/v1.11.0/internal/http/services/ocmd/shares.go#L59) uses go's http.Request.FormValue function, which [apparently](https://stackoverflow.com/questions/27595480/does-golan

[2021-08-09 14:01] michielbdejong commented on #1979
Ah, and revad's format even [a mix of www-form with json](https://github.com/cs3org/ocm-test-suite/issues/25#issuecomment-852151913), the entries for the 'protocols' field are stringified inside form data as one of the strings.

[2021-08-09 17:51] michielbdejong opened #1981 "Why require providerId to contain a `:`?"
https://cs3org.github.io/OCM-API/docs.html#/paths/~1shares/post requires `providerId` to be a string that is unique per provider.

Revad furthermore [requires](https://github.com/cs3org/reva/blob/v1.11.0/internal/grpc/services/ocmcore/ocmcore.go#L111-L122)  that `providerId` is of the form `StorageId:OpaqueId`. Why is this?

When I look at for instance https://github.com/cs3org/reva/blob/v1.11.0/p

[2021-08-10 14:50] ishank011 commented on #1923
HTTP response for Collabora, which supports POST
[code]

Response for CodiMD, which doesn't
[code]

[2021-08-10 14:57] ishank011 commented on #1923
Wopiserver changes by @glpatcern: https://github.com/cs3org/wopiserver/pull/43

[2021-08-11 21:13] butonic opened #1986 "use chi router instead of ShiftPath"
I stumbled over https://benhoyt.com/writings/go-routing/ which examines the different ways routing can be done in golang.

IMO implementing the ocs / ocdav and other http endpoints with the ShiftPath approach makes it hard to understand what code is going to be executed for a given URL. We are using chi in some ocis services, eg the [graph](https://github.com/owncloud/ocis/blob/master/graph/pkg/se

[2021-08-12 06:42] butonic commented on #1981
reva uses the `StorageId` to route requests to the correct storage provider, which in turn then uses the `OpaqueId` to identify the resource. That was always the case. But for the owncloud ocs and webdav apis we had to glue them together to a single string for legacy reasons. I don't see a conflict with the OCM api, yet. It does not restrict the character set or require a uuid. To other instances

[2021-08-12 07:57] michielbdejong commented on #1981
Sure, it's fine that reva does that internally, and it's also fine when reva is the provider, then it's at liberty to compose the string in that way.

What breaks is when an unsuspecting provider (unrelated to reva) sends a share over OCM to a reva instance. Then a 400 is thrown, from this line:

https://github.com/cs3org/reva/blob/v1.11.0/internal/grpc/services/ocmcore/ocmcore.go#L113

That's the

[2021-08-12 08:18] refs commented on #1986
another pro, it is written using 100% stdlib code https://github.com/go-chi/chi/blob/master/go.mod

[2021-08-13 08:06] wkloucek commented on #1923
One thing we didn't talk about is what we should display in the `New file` dialog:
![image](https://user-images.githubusercontent.com/34452982/129324713-d3c496f9-7f96-4437-ae2e-5694ba84e4a1.png)

Technically we just have the mimetypes (see https://github.com/cs3org/reva/issues/1923#issuecomment-891908827) available, but these are not really user friendly (eg. `create new application/vnd.oasis.open

[2021-08-14 21:54] refs commented on #1986
I believe the most compelling arguments to adopt chi instead of a trim-based approach are readability (already mentioned) and _navigation_. When browsing the codebase I rely on <kbd>⌘</kbd> + <kbd>f</kbd> and a combination of the endpoint I'm trying to access and `case "<slug>`". I always find what I look for but 90% of the times that is just an entry point and I have to navigate my way down.

Wit

[2021-08-16 06:44] labkode commented on #1986
@butonic can you prepare a PR for that, let's start with a small service to see how it behaves.

[2021-08-16 08:43] labkode commented on #1923
@wkloucek maybe we can expand the mapping of mimetypes with a new field "display name" that is more user friendly?

[2021-08-16 09:02] labkode commented on #1698
Ping @micbar

[2021-08-16 09:12] #1862 closed

[2021-08-16 09:53] michielbdejong commented on #1979
Ah sorry, I already filed this issue earlier. This is a duplicate of #1753.

[2021-08-16 09:53] #1979 closed

[2021-08-17 09:42] rhafer commented on #1986
I am working on that.

[2021-08-17 12:35] labkode commented on #1986
@rhafer awesome!

[2021-08-17 13:17] michielbdejong opened #1999 "Docker build failing in master"
https://drone.cernbox.cern.ch/cs3org/reva/2700/1/8

This is because the Nextcloud storage driver depends on a file from the tests/ folder, which is excluded by .dockerignore.

I'll think of a fix.

[2021-08-17 13:30] michielbdejong commented on #1999
Should be easy to fix, but it's annoying that this wasn't caught by the PR checks.
I think a `docker build` would have been enough to catch this bug on the PR, testing that hypothesis now.

[2021-08-17 13:40] butonic opened #2001 "make share manager single source of truth"
# Sharing
This document proposes changes on managing and accessing shares in reva. The goal is to streamline the information and make the process more robust.

## Summary
- The share managers become the single source for all share information, including names / mountpoints
- Shares are no longer recorded on the storage using the storage providers
- Accepting shares no longer creates a reference in

[2021-08-18 11:35] #1999 closed

[2021-09-01 09:37] #1986 closed

[2021-09-03 12:09] butonic opened #2036 "add pragmatic favorites implementation"
The web ui needs an efficient way to list all files that have been marked as favorite by a user. We already persist the faverite flag on a per user basis in the extended attributes when using the decomposedfs. But for querying we need an efficient lookup, similar to the share manager.

Searching by favorite is one case of searching by metadata. While the bigger picture is tracked in https://github

[2021-09-06 08:54] butonic commented on #2036
from [gitter](https://gitter.im/cs3org/REVA?at=6135d56b7cd57813a8ad5628):

[2021-09-07 09:45] labkode opened #2049 "Check where data-server value is overwritten from storage providers"
Storage provider returns this:
[code]

But we get:

[code]

Probably the gateway is overwritten this value.

[2021-09-08 09:49] butonic commented on #2001
- [ ] extend collaboration ListReceivedSharesResponse with mountpoint (type reference)
- [ ] extend ocm ListReceivedSharesResponse with mountpoint (type reference)
- [ ] extend share manager UpdateShareRequest with mountpoint (not the gateway)
- [ ] replace UpdateShareRequest.UpdateField with [FieldMask](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask) in Up

[2021-09-08 14:08] butonic commented on #2001
blocked by https://github.com/cs3org/cs3apis-build/pull/14

[2021-09-08 15:28] labkode opened #2056 "Stop build if build-only step fails"
To reduce resource consumption in the CI the running steps should be short-circuited if the build-only phase fails.
@wkloucek ?

It usually happens that we create a PR and then we need to provide the changelog. By having this we have a very quick feedback and we avoid keeping a CI job that will never make it to green.

[2021-09-08 15:30] phil-davis commented on #2056
@dpakach can you get someone to have a look?

[2021-09-08 17:15] wkloucek commented on #2056
Or just do it as a separate step and make all others depending on it. It takes only 7 seconds and has no dependencies.

Though one might work on a PR first and see if its green and add the change log before marking the PR as ready. This workflow would then definitely break.

[2021-09-10 14:28] wkloucek commented on #1923
there is PR on that in the CSapis: https://github.com/cs3org/cs3apis/pull/145/files. Will have a look next week

[2021-09-10 14:37] glpatcern commented on #1923
Yep, I just created that PR for this use case indeed

[2021-09-13 06:27] #2056 closed

[2021-09-13 06:30] #1959 closed

[2021-09-14 05:34] #1698 closed

[2021-09-14 12:52] labkode opened #2068 "Allow power users to impersonate users"
This is a nice use-case for when debugging issues as this will allow an admin to "login" as the impersonated person.

This is a follow-up of:
https://github.com/cs3org/reva/pull/2031

[2021-09-14 13:00] michielbdejong opened #2069 "What should GetQuota return?"
The [GetQuota](https://github.com/cs3org/reva/blob/5c0e31adade364e7bfb1242bf0dfecc28d43743a/pkg/storage/storage.go#L55) function on the storage provider API returns two `uint64` values.
Are those "maxBytes" and "maxFiles" like in https://github.com/cs3org/go-cs3apis/blob/970eec3/cs3/storage/provider/v1beta1/resources.pb.go#L1491-L1505 ?

Or "total" and "used" like in https://github.com/cs3org/reva

[2021-09-14 13:02] michielbdejong commented on #2069
Is this because GetQuota on the storage provider gives the current user's quota for all storage spaces, and the Quota included in the ListStorageSpacesResponse is only for that one storage space?

[2021-09-16 08:26] butonic commented on #2069
sadly, the ocs api does not differentiate between different storage spaces. it cannot take into account quota on an external storage or a federated share. for ocis we decided to report the quote from the users home space. with the spaces concept and the graph api we introduce it will be possible to get the quote of every storage space the user has access to.

[2021-09-16 09:52] michielbdejong commented on #2069
Thanks for clarifying that!
But I'm still wondering, what is the meaning of the two `uint64` numbers?

[2021-09-16 10:31] phil-davis commented on #2069
I will guess and someone can confirm if I am correct:
`getQuotaRes.TotalBytes` = the total amount of storage that you are allowed to use (for example a number like 10,000,000,000 about 10GB)
`getQuotaRes.UsedBytes` = the number of bytes that your files/folders use at the moment (for example a number like 7,000,000,000 about 7GB)

And anyone can calculate that the remaining available storage space

[2021-09-16 12:00] michielbdejong commented on #2069
Yes, that answer makes sense to me. That's probably what it is. I'll add a code comment!

[2021-09-16 18:21] #2069 closed

[2021-09-17 09:21] labkode commented on #2036
Initial work done here: https://github.com/cs3org/reva/pull/2071

[2021-09-17 12:13] aduffeck opened #2080 "cbox share manager lists group shares for users named like the group (and vice versa)"
I'm not sure how the cbox sql share manager is being used and I didn't actually verify my suspicion, but I believe the share manager doesn't properly distinguish between user and group shares when querying the received shares in https://github.com/cs3org/reva/blob/master/pkg/cbox/share/sql/sql.go#L331.
Looking at the query the share manager seems to return group shares to a user with the same name

[2021-09-17 12:23] kulmann commented on #2036
For enabling favorites in web we need a boolean capability `capabilities.files.favorites`.
Needs to be defined here: https://github.com/owncloud/ocis/blob/bbcea23e85b705aafee17e0fbf05d67cc961b819/ocs/pkg/service/v0/data/capabilities.go#L79
And then added with value `true` here:
https://github.com/owncloud/ocis/blob/dbb6367e92effdfde258c1fb03a14cbb60126e47/storage/pkg/command/frontend.go#L57

[2021-09-17 13:04] labkode commented on #2080
Hi @aduffeck, the SQL query for groups works as follow.

Imagine you (@aduffeck) are part of 3 groups (admins, devs and managers).

When querying the list of received shares we prepare the following SQL condition:

`share_with=aduffeck AND share_with in ('admins', 'devs', 'managers')`

I hope that answers your question.

[2021-09-17 13:06] labkode commented on #2036
@kulmann does that enables the sidebar "Favourites" only or also the start icon in the row rendering?

[2021-09-17 13:09] kulmann commented on #2036
Enables everything related to favorites:
- nav item in the left sidebar with dedicated favorites view
- favorites star in the right sidebar
- context menu (right click) action for toggling favorites

[2021-09-20 07:12] aduffeck commented on #2080
@labkode the problem I was trying to highlight was that a if a user manages to sign up with the username "managers" they would see the "mangers" group share in their list of shares because the query compares the `share_with` field with both the username and the group names without taking the share type into account.
Does that make sense?

[2021-09-20 07:47] ishank011 commented on #2080
Hi @aduffeck, thanks for pointing that out! It indeed is a bug. I'll modify the SQL query to check `share_type` as well along with `share_with`.

[2021-09-20 09:50] ishank011 opened #2084 "Reduce JWT token size"
Based on the problems described in https://github.com/cs3org/reva/pull/1935 and the proxy workaround proving to be extremely non-performant, we'll look into reducing the size of the constructed tokens.

The size inflation is because of two objects:
- The user groups: We'll remove the groups from the user object encoded in the token and the services requiring these will make the GRPC call to the us

[2021-09-21 09:36] pascalwengerter opened #2089 "Add versioning to AppProvider"
The AppProvider HTTP endpoint is currently not versioned. We should add a versioning to it so that clients (e.g. `ownCloud web`) can differentiate and use their respective supported version

https://github.com/cs3org/reva/blob/1b816950fe5dbc3da639d8f5e2b67201d2db6185/internal/http/services/appprovider/appprovider.go#L95-L107

[2021-09-21 12:09] #2084 closed

[2021-09-23 14:04] kulmann opened #2096 "Documentation for archiver"
For implementing the download as archive in [ownCloud Web](https://github.com/owncloud/web/pull/5832) I'd like to see some basic documentation. Especially helpful: example requests for
- downloading folder `/test` from the user home of `einstein`
- downloading folder `/test` from the password protected public link `GFZpdiHgFOonejL` with password `asdf`

[2021-09-23 14:06] kulmann commented on #2096
cc @ishank011 @gmgigi96

[2021-09-23 14:18] kulmann commented on #2096
Since the API only accepts a dir and a list of file names, I'm especially unsure how to proceed with public links. I would have expected that the provided path is relative to the authenticated user's home directory. That doesn't seem to be the case.

[2021-09-23 14:43] gmgigi96 commented on #2096
The archiver does not support yet a password protected public link download.
Instead, to download a normal file/folder, the `dir` parameter should have as prefix `/home`, so according to your example `dir=/home` and `file=test`.

[2021-09-23 14:52] kulmann commented on #2096
Just to get this straight, in your CERN-Box environment you'd have `/` as dir, so that we need to provide configuration for the path prefix, right?

[2021-09-23 14:52] kulmann commented on #2096
In order to get this going for public links as well I'm discussing with @wkloucek right now that this should be implemented using resource ids, not paths.

[2021-09-23 15:10] kulmann opened #2097 "Change archiver to work resource id based"
As I've learned in https://github.com/cs3org/reva/issues/2096 the archiver service currently works with absolute paths. That brings at least two limitations:

1: we need configuration for the web ui for defining a path prefix. In the CERN-Box environment this is not needed (`/`), for any standard ownCloud environment it would be `/home`. This kind of knowledge should not be needed in the web UI (+

[2021-09-23 15:11] kulmann commented on #2096
Ideas for improvement tracked in https://github.com/cs3org/reva/issues/2097 - closing here.

[2021-09-23 15:11] #2096 closed

[2021-09-23 15:16] kulmann commented on #2097
cc'ing @wkloucek for more details if needed

[2021-09-23 15:33] gmgigi96 commented on #2097
The current archiver implementation has the same interface of an old archiver service, we used, and yes, it is limited.
So, I will change the interface to support both paths and resources ids, providing to the archiver a list of `path` and/or a list of `id`.

[2021-09-23 15:34] kulmann commented on #2097
Awesome, thank you 🤩

[2021-09-24 07:11] butonic commented on #2097
Related: https://github.com/owncloud/ocis/issues/2521

Cc @kulmann I don't know if @jvillafanez looked into this as well.

[2021-09-24 08:57] redblom opened #2104 "Add resource size info to transfer type OCM share"
At WP4.4 it is discussed that it would be useful for a receiver of a transfer type OCM share to know the size of the transfer before accepting it. Although the size cannot be guaranteed, a sender could still add more files to a transfer folder which would also be transferred after acceptance in case of a transfer retry, the receiving end could limit the transfer to the expected size (data cap). Or

[2021-09-24 14:21] michielbdejong opened #2105 "What should `ListFolder` return if the folder does not exist?"
The [ListFolder](https://github.com/cs3org/reva/blob/54a2b480c0e08a6b1d5129c8409a6ffc33071448/pkg/storage/storage.go#L38) method of `fs.Storage` returns a pointer to an array of ResourceInfo's.

If the folder does not exist, should this function return nil?

[2021-10-01 06:37] #2097 closed

[2021-10-01 09:24] rhafer opened #2122 "LDAP driver should use longer-living LDAP connections"
Currently the LDAP drivers for the user-, group and authproviders open a new LDAP connection for each incoming request. This add quite a bit of overhead, especially when TLS is  used. It would be better to open up a longer-lived connection at startup (or upon first request) and use that.

[2021-10-01 09:27] butonic opened #2123 "uid_number and gid_number should only be necessary inside a storage driver"
Currently, the reva user has a property for uid_number and gid_number. They are used to chown files and set acls in drivers like eos. But this is a driver and even os specific property that may even change over time.

Drivers that integrate with the os should look up the current numeric ids based on the current username. They should not use the cs3 userprovider to look it up, as it is an implement

[2021-10-01 13:46] rhafer opened #2124 "LDAP drivers are too opinionated about group membership schema"
The groupmembership lookups in the user- and groupproviders assume that the membership attribute in a group directly maps to the user's name. So this basically only works with LDAP servers implementing the RFC2307 Schema (posixGroup). And even then only when the reva `uid` Attribute (OpaqueID) matches the user's name.

I think we need to make this a bit more flexible by supporting
- "native" LDAP

[2021-10-11 08:39] michielbdejong opened #2148 "Document difference between OCM Shares and collaboration Shares"
The [Opaque field in a CreateOCMShareRequest is optional](https://github.com/cs3org/go-cs3apis/blob/main/cs3/ocm/core/v1beta1/ocm_core_api.pb.go#L32-L34) but Reva's
[implementation requires it](https://github.com/cs3org/reva/blob/a70d374ceb54e1b38bcafd3dd27ea5d2bb16d1a9/internal/grpc/services/ocmshareprovider/ocmshareprovider.go#L107-L111).

[2021-10-11 17:06] jimil749 commented on #1894
Hey @ishank011👋🏻  Thought of giving this a try. I created a retry function which looks something like this:

[code]

This function would retry calling `s.provider.GetAppProviderInfo(ctx)` every "sleep" seconds. (Currently just using 2ms) and simply return if the function call is successful. Is this something that you've envisioned? If yes, I can send out a PR for the same.

For more info: https://

[2021-10-12 02:23] marcolarosa opened #2156 "Help setting up CORS for reva"
Hi,

I'm trying to get a minimal reva installation going in a set of docker containers for development. The repo is @ [https://github.com/Arkisto-Platform/describo-reva](https://github.com/Arkisto-Platform/describo-reva).

I want my single page app to be able to authenticate to reva directly but in order to do so I need to enable cors on the gateway: [https://github.com/Arkisto-Platform/describo-r

[2021-10-12 02:23] marcolarosa opened #2157 "Odd, intermittent error from reva on startup."
I'm trying to get a minimal reva deployment going in a set of docker containers for development. The repo is at [https://github.com/Arkisto-Platform/describo-reva](https://github.com/Arkisto-Platform/describo-reva).

Sometimes when I start I see:
<img width="1282" alt="Screen Shot 2021-10-12 at 1 24 59 pm" src="https://user-images.githubusercontent.com/2639995/136880663-e1cd30b4-59d0-428f-831e-a1a

[2021-10-12 08:14] ishank011 commented on #1894
Hey Jimil! Thanks a lot for looking into this!

So the issue is not with calling `GetAppProviderInfo` but rather `AddAppProvider` in the gateway. Our grpc server implementation executes the `New` method of all services while registering them, and then if all are successful, starts the server. So the AppProvider service's New method tries to make a call to one of Gateway service's methods and it fa

[2021-10-12 13:57] ishank011 opened #2160 "Enable recycle bin for arbitrary paths"
Currently, all recycle bin operations in oCIS are made available via the `/remote.php/dav/trash-bin/$username/$key/$path` endpoints. These are restricted to only the logged-in user's home, but access for shared spaces is not yet available.

Considering a user case, in CERNBox, we have service accounts associated with project spaces and users having access to a specific project space should be able

[2021-10-13 11:29] ishank011 commented on #2160
Yes, I would be very interested in taking this up for EOS but I'm afraid we don't have the bandwidth at the moment. Once we're done with our rollouts, I'd be happy to get started with this, but it won't be possible for the next 2-3 months at least.

[2021-10-13 14:57] kobergj opened #2167 "Decomposedfs cannot handle nil Quota"
When setting a request to create a space with nil quota, decomposefs will panic as it tries to dereference the max bytes attribute of the nil quota

[2021-10-14 07:49] #2156 closed, assigned to nobody

[2021-10-14 07:55] marcolarosa opened #2169 "Experience of starting out with Reva as a total noob!"
Hi, I hope this is ok - I thought I'd note down my experience of getting started with Reva. I may be way off with this so please be gentle!

## Getting started

The documentation at reva.link seemed to assume some knowledge on the part of the user. I'm not sure how to explain this but it comes from being overwhelmed by all the pieces. For my use case I needed to start up a reva instance so I  coul

[2021-10-14 10:42] ishank011 opened #2171 "Machine auth should take an optional claim parameter"
`email:alice@xyz.com` should be supported. If no claim is provided, just assume it to be a default (username)

Should fix https://github.com/owncloud/ocis/issues/2604

[2021-10-14 10:44] ishank011 opened #2172 "The a: filter in rest user and group drivers doesn't work"
<img width="884" alt="Screenshot 2021-10-14 at 12 43 23" src="https://user-images.githubusercontent.com/10387289/137302792-822f02ac-7ccb-4eb6-ac49-208ebff54ba2.png">

[2021-10-18 07:46] #2171 closed

[2021-10-18 12:47] #2160 closed, assigned to nobody

[2021-10-19 11:55] michielbdejong commented on #1962
I think it's probably easier to include https support in reva than to tell people (including myself with the ocm-test-suite) to run a separate proxy. I'll see if I can make it work.
These two lines are key:
* [rhttp.New](https://github.com/cs3org/reva/blob/v1.14.0/cmd/revad/runtime/runtime.go#L259)
* [rgrpc.NewServer](https://github.com/cs3org/reva/blob/v1.14.0/cmd/revad/runtime/runtime.go#L249)

[2021-10-19 12:14] michielbdejong commented on #1962
In [starting the grpc server](https://github.com/cs3org/reva/blob/v1.14.0/pkg/rgrpc/rgrpc.go#L147) and [starting the http server](https://github.com/cs3org/reva/blob/v1.14.0/pkg/rhttp/rhttp.go#L113) we would then probably just use [s.ServeTLS](https://pkg.go.dev/net/http#Server.ServeTLS) instead of
[s.Serve](https://pkg.go.dev/net/http#Server.Serve).

[2021-10-20 13:12] michielbdejong commented on #1962
Next error:
[code]

[2021-10-20 13:13] michielbdejong commented on #1962
Also seeing
[code]
before that

[2021-10-25 11:41] michielbdejong opened #2201 "Accept 201 as response from OCM create share"
[OCM specified](https://cs3org.github.io/OCM-API/docs.html#/paths/~1shares/post) `201 Created` as a response code for a share-create request.
But reva [only accepts](https://github.com/cs3org/reva/blob/v1.14.0/pkg/ocm/share/manager/json/json.go#L341)  `200 OK`

[2021-10-25 11:55] michielbdejong opened #2202 "OCM notifications endpoint is not published"
The OCM spec [requires](https://cs3org.github.io/OCM-API/docs.html#/paths/~1notifications/post) a `/notifications` endpoint
but it's not listed as Unprotected in https://github.com/cs3org/reva/blob/v1.14.0/internal/http/services/ocmd/ocmd.go#L97

[2021-10-28 12:02] wkloucek opened #2216 "Some "insecure" options are hardcoded to true"
## Describe the bug
Some REVA "insecure" configurations default to true.

## Expected behavior
"insecure" options (most of the time it's SSL cert validation check skip) must be configurable and default to false.

## Actual behavior
some "insecure" options default to true, eg.

- https://github.com/cs3org/reva/blob/a133b602f6259335f1a799434d15b712d960800d/cmd/reva/main.go#L114
- https://github.com/

[2021-11-03 08:05] wkloucek commented on #475
We have that now in oC Web:
- https://github.com/owncloud/web/blob/1f639f6c87b8627edb54b722b74d94d5e6a97dfd/.drone.star#L769-L770
- https://github.com/owncloud/web/blob/1f639f6c87b8627edb54b722b74d94d5e6a97dfd/.drone.star#L2680-L2734

[2021-11-08 16:02] #1784 closed

[2021-11-08 17:22] ishank011 opened #2246 "EOS GRPC doesn't populate the sys ACL field"
We need something like
https://github.com/cs3org/reva/blob/80f5ec9b8978bd659459a0db6db6ea9778119169/pkg/eosclient/eosbinary/eosbinary.go#L1089-L1092

[2021-11-09 09:27] ffurano commented on #2246
Having a look

[2021-11-09 10:48] ffurano commented on #2246
So, it seems to me that you want the ACL field to contain the content of the xattr field "sys.acl" in addition to the "real" ACLs that are returned by EOS/grpc (if any)
Easy to do, yet since this seems strange to me, could you please confirm that I understood right?

[2021-11-09 10:53] labkode opened #2249 "simplify archive refex"
Looks good but what kind of regexes are you thinking? Something like /eos/user/[a-z]/[a-z]./\w.? Can we come up with something simpler?

[2021-11-09 13:58] ishank011 commented on #2246
Aren't these the "real" ACLs? Using `file info` you only get this

[2021-11-10 08:30] individual-it opened #2255 "tar archive encodes file-names wrongly"
originally in https://github.com/owncloud/ocis/issues/2743

## Describe the bug
file-names with non-latin characters are not displayed correctly with some tar tools

## Steps to reproduce

Steps to reproduce the behavior:
using ocis & owncloud web:

1. create a folder
2. upload a file into the folder that contains non-latin in the file-name
3. download the complete folder using the archiver endpoi

[2021-11-11 02:27] marcolarosa commented on #2169
Just to follow up. I had a very useful and productive meeting with @labkode and learnt the following:

* version numbers between the various language bindings are not in sync. Look for the commit that references the commit in the source reva to see if the bindings are up to date (they will be as they're all built at the same time).
* the node bindings are good to use and are now referenced from th

[2021-11-11 10:14] individual-it commented on #2255
CC @gmgigi96

[2021-11-12 09:06] gmgigi96 commented on #2255
Thanks @individual-it. I tried in my test environment (and also in our production) but I wasn't able to reproduce it (I tried with WinRAR 6.02). Could you give more details on your current reva setup (like the storage provider you used, ...)? Thanks

[2021-11-12 09:10] gmgigi96 commented on #2172
@ishank011 I think you can close it, as it was a web issue.

[2021-11-12 09:23] individual-it commented on #2255
@gmgigi96 I'm using ocis from the master branch https://github.com/owncloud/ocis/
Here the file I got: https://jankaritech.ocloud.de/index.php/s/wTnLbHqs1Y07KPQ

it has a folder called `my_data` and a file in it called `öäüfile.txt`

when I unpack it with PHP
[code]

the file name is only `file.txt`

can you try to open that file with WinRAR

[2021-11-12 11:02] individual-it commented on #2255
AFAIK ocis uses the ocis storage per default

[2021-11-12 14:14] gmgigi96 commented on #2255
@individual-it I can see with no problems the content of the tar you pointed me out, as you can see from the figure
![Schermata 2021-11-12 alle 15 10 37](https://user-images.githubusercontent.com/39946305/141480550-10423e5c-463f-4eaa-96d3-062c8b9bfad8.png)

I also tried with different different storage providers also (`eos`, `localhome`) and works as expected, so the correct filename (with no-lati

[2021-11-15 06:51] individual-it commented on #2255
@gmgigi96 yes that might be, I will have to dig deeper

[2021-11-16 12:25] michielbdejong opened #2283 "review isProviderAllowed client IP address check in /ocm/shares endpoint"
I'll write some unit tests that check if
[this line](https://github.com/cs3org/reva/blob/v1.15.0/internal/http/services/ocmd/shares.go#L90) really blocks requests if the client IP address is different from what is specified in [the providers config](https://github.com/cs3org/reva/blob/v1.15.0/examples/ocmd/providers.demo.json#L21).

[2021-11-16 13:11] michielbdejong opened #2284 "provider not authorized when following https://reva.link/docs/tutorials/share-tutorial/"
Unless it's something I'm doing wrong in my local setup, it seems this broke somewhere between v1.10.0 and master.
Investigating.

[2021-11-16 13:40] michielbdejong commented on #2284
bisecting:...
* v1.10.0: ok
* v1.14.0: ok
* v1.15.0: broken
* master: broken

[2021-11-16 13:44] michielbdejong commented on #2284
* 2fcbe16247e: OK

[2021-11-16 13:48] michielbdejong commented on #2284
Hm, contradicting result now:
* v1.15.0: ok

[2021-11-16 13:51] michielbdejong commented on #2284
But now in `master` seeing the error again:
[code]

[2021-11-16 13:59] michielbdejong commented on #2284
updated https://github.com/cs3org/reva/issues/2284#issuecomment-970285504 with repeated observations

[2021-11-16 14:01] michielbdejong commented on #2284
maybe it was caused by https://github.com/cs3org/reva/commit/c35c530fb17661bb7009a33b2678c87617495991#diff-56e04bcb7910dece3dfdbe078825ba79b3ce995f8911fc119c504d4b3a9ee93c

[2021-11-17 10:09] michielbdejong opened #2288 "UserId idp may have prefix"
The [idp field of a UserId](https://github.com/cs3org/cs3apis/blob/9648574fa9963be02dc3bd2700c0639ee8708492/cs3/identity/user/v1beta1/resources.proto#L35-L37) should identify the identity provider of the user, but it's unclear from the current documentation of cs3apis whether this should be done with a domain (e.g. 'cernbox.cern.ch') or with an origin (e.g. 'https://cernbox.cern.ch').

Recently, t

[2021-11-18 09:53] #1769 closed

[2021-11-18 10:52] #1212 closed

[2021-11-18 16:34] ishank011 opened #2291 "Set attrs on version folders for files in eosfs"
(to be implemented once setting xattrs on version folders is supported by EOS)

[2021-11-19 05:26] individual-it commented on #2255
After reading more about tar, I think this is a general issue of tar, it does not support officially anything else than ASCII
Only the pax format of tar supports UTF-8 and not all libraries seem to support that
for more details see e.g.  https://github.com/haskell/tar/issues/6 & https://docs.python.org/2/library/tarfile.html#unicode-issues

I will close this issue and proposing to switch to ZIP al

[2021-11-19 05:26] #2255 closed

[2021-11-19 05:32] individual-it opened #2292 "downloading an archive with invalid path returns HTTP/500"
## Describe the bug

When trying to download a not-existing path using the archiver endpoint the server returns an HTTP 500 error

## Steps to reproduce

Steps to reproduce the behavior:

1. install and run ocis with `OCIS_INSECURE=true PROXY_ENABLE_BASIC_AUTH=true bin/ocis server`
1. `curl -k -u einstein:relativity 'https://localhost:9200/archiver?path=/home/doesnotexist' --output /tmp/out.tar -v

[2021-11-22 05:01] individual-it commented on #2292
reopening, see https://github.com/owncloud/ocis/issues/2795

[2021-12-01 22:45] butonic opened #2319 "update linter"
[code]

[2021-12-03 10:54] JammingBen opened #2322 "Use colon `:` for timezone layout when parsing dates"
The `ParseTimestamp()` method currently uses `2006-01-02T15:04:05Z0700` as layout for parsing dates. This is somewhat inconsistent and suboptimal for oC Web, we'd rather expect `2006-01-02T15:04:05Z07:00` as the layout already uses delimiters like `-` and `:`.

Is there a chance to align that? Otherwise we would need to implement a custom format in oC Web as well.

https://github.com/cs3org/reva/b

[2021-12-06 09:46] refs commented on #2322
Could we use UTC offset instead of Zulu? Other than that I agree we should stick to a format, as both `[hh][mm]` and `[hh]:[mm]` are valid 👍

[2021-12-06 16:21] JammingBen commented on #2322
Sure 👍

[2021-12-07 11:12] refs commented on #2322
Actually I'm wrong. This is how UTC is defined in ISO 8601 😅 we just need to agree in a format. This issue should be a ticket for the fast-lane.

[2021-12-09 13:33] ishank011 opened #2347 "Make relative reference parameters in appprovider consistent with other services"
https://github.com/cs3org/reva/pull/2210#discussion_r765556535

[2021-12-10 09:35] wkloucek commented on #2347
The below diff would change the behavior with the restriction of not using relative CS3api references. I would opt for waiting until all storage provider support relative references, then this will be cleaner and easier, since we can just pass both parameters into the relative CS3api reference.

[code]

[2021-12-10 11:03] JammingBen commented on #2322
`[hh]:[mm]` (-> `2006-01-02T15:04:05Z07:00`) would be great for OcWeb as mentioned above 🙂

[2021-12-11 20:47] michielbdejong opened #2355 "Allow email to be empty in invite accept call?"
According to https://github.com/cs3org/OCM-API/pull/41/files#diff-9cfca4a1b73e1e28e30fb9b0b984aad6d4caaf0819c61ed40ad338600531f745R565 both 'email' and 'name' are required in calls to /invites/accept
Reva doesn't check for the presence of name, but does check for the presence of email.
Can we relax this so that email is also allowed to be empty?
The email address of the user accepting the invite m

[2021-12-11 21:19] michielbdejong commented on #2355
I guess we could also interpret 'email' in a more approximate way as a user@host string.

[2021-12-11 21:36] michielbdejong opened #2356 "Credentials that are not specific to any particular user"
When pairing up a revad instance with an existing EFSS instance, the EFSS instance may make calls to the revad instance, and should have full permissions to act on behalf of any of its users, but it wouldn't (be able to) send the username and password of its users.

The way we're working around this now in the sciencemesh-nextcloud project is by sending the username of the relevant user, but inste

[2021-12-14 15:49] michielbdejong opened #2377 "user.Username vs user.Id.OpaqueId"
Authenticate [returns](https://github.com/cs3org/cs3apis/blob/e3ac6ae/cs3/auth/provider/v1beta1/provider_api.proto#L77) a user object which has a [`username` string](https://github.com/cs3org/cs3apis/blob/e3ac6ae9a66f8d7aed0662a28fb46ebdd012d356/cs3/identity/user/v1beta1/resources.proto#L50) but also an [`Id` UserId](https://github.com/cs3org/cs3apis/blob/e3ac6ae9a66f8d7aed0662a28fb46ebdd012d356/c

[2021-12-14 15:51] michielbdejong commented on #2377
fwiw, caching in the authprovider is done on the basis of `res.User.Id.OpaqueId`

[2021-12-27 10:55] michielbdejong commented on #2283
OK, I tested it and if you specify the OCM host with a FQDN (even if it doesn't resolve to anything in DNS like "https://open-cloud-mesh.org") it works. If you specify an invalid string (for instance "1.2.3") then it returns `errors.Wrap(nil, "json: ocm host not specified for mesh provider")` which is nil. See:
* [json](https://github.com/cs3org/reva/blob/bd7234e/pkg/ocm/provider/authorizer/json/j

[2021-12-27 11:00] michielbdejong commented on #2283
Fixed in the `nextcloud-alpha` branch, will merge into `edge` next week, and then it will land in `master` some time in January probably.

Note that this only affects misconfigured servers.

[2021-12-27 19:34] michielbdejong opened #2402 "CreateOCMShareRequest.Protocol vs CreateOCMShareRequest.Opaque.Map["protocol"]"
Looking at [this definition](https://cs3org.github.io/cs3apis/#cs3.ocm.core.v1beta1.CreateOCMCoreShareRequest) it seems that CreateOCMShare requests have a Protocol field.

But looking at [this server code](https://github.com/cs3org/reva/blob/28ad25c0366a166597896ef6179e8cdc0d3ee11d/internal/grpc/services/ocmshareprovider/ocmshareprovider.go#L149) and [this client code](https://github.com/cs3org/r

[2021-12-27 19:38] michielbdejong commented on #2402
If not I can easily switch it around, let me know.

I'm adding  the `req.protocol.options.sharedSecret` from https://cs3org.github.io/OCM-API/docs.html#/paths/~1shares/post and wanted to put it into CreateOCMShareRequest.Protocol but then I noticed your use of CreateOCMShareRequest.Opaque.Map["protocol"] and thought I should probably check first. :)

[2021-12-27 19:49] michielbdejong commented on #2402
Ah wait,
it's https://cs3org.github.io/cs3apis/#cs3.sharing.ocm.v1beta1.CreateOCMShareRequest
not https://cs3org.github.io/cs3apis/#cs3.ocm.core.v1beta1.CreateOCMCoreShareRequest
Never mind! :)

[2021-12-27 19:49] #2402 closed

[2022-01-10 16:15] butonic commented on #2377
IMNSHU we need to be able to distinguish users by id. There might actually be two user with the same name when multiple idbs are involved, which is why the the code should never rely on the username. That the home path (and other) layouts can be configured to use the username is a huge shotgun pointed at the admins foot. That is the reason why ocis defaults to `/users/{.Id.OpaqueId}`.

[2022-01-11 09:10] michielbdejong commented on #2377
Good point! Probably the only thing that would be really really safe would be something like `/users/{.Id.Idp}/{.Id.OpaqueId}`

I guess the `.Id.OpaqueId` is provided by the IDP in question, and the `Username` is ultimately provided by the auth manager.

In our case the auth manager has only one IDP backend, so then it's simple, we just set `.Id.Idp` to a fixed string like `'local'` and then just

[2022-01-13 12:03] glpatcern commented on #197
Looking for log-related bugs I found this which is likely fixed. Except for a few messages that still go to stdout:

[code]

[2022-01-24 22:50] mateusz-garlacz opened #2471 "Received shares do not work for viewers"
Hi, I am unable to update a received share. The share is not visible on the recipient's site neither. This happens only when the grantee's permissions are set to viewer. Steps to reproduce the issue:

[code]

This is not the case when the rol flag is set to editor. I built reva on master commit 393f831f7f44e62d3d230ba2b5242daea71f2ad5 and followed the official README and run it on storage-referenc

[2022-01-27 13:37] labkode opened #2480 "Overwrite must be forbidden on public links with drop zone"
If two people upload the same file they will overwrite each other.
The expected behaviour is to to make each upload unique.
In CERNBox we prepend a random UUID.

<img width="1440" alt="Screenshot 2022-01-27 at 14 35 18" src="https://user-images.githubusercontent.com/5175912/151369707-e8fd5304-c5d5-4d20-89c1-01fa61317835.png">

[2022-01-27 13:38] #2471 closed

[2022-01-28 08:00] pmaier1 commented on #2480
I'd like to advocate against using UUIDs here as they appear very technical and regular users might feel uncomfortable. Instead I'd propose to *append* a number in parentheses "`(2)`". This is the behavior we have in the classic ownCloud. /cc @tbsbdr

[2022-01-28 09:37] ishank011 commented on #2480
I think appending the timestamp might be even better? That'll help the user differentiate between the various files

[2022-01-28 10:35] pmaier1 commented on #2480
Agree, that could be valuable as well. Dropbox behaves like this, for example.

[2022-01-28 12:57] labkode commented on #2480
@pmaier1 make sense!

[2022-01-28 15:55] butonic commented on #2322
the oc10 code does this:

https://github.com/owncloud/core/blob/0dadfbe475438dd97c192cb93643ef8d95b71faa/apps/files_sharing/lib/Controller/Share20OcsController.php#L1155-L1179

[code]

So it seems to rely on PHP magic detection of the format and ignores the time / sets it to 0.

[2022-02-08 11:03] C0rby opened #2520 "Collection of temporary API hacks in edge"
This issue should contain all the temporary hacks we implemented in the edge branch which should be changed later on.
To not miss anything let's collect them here:
- https://github.com/cs3org/reva/blob/edge/internal/http/services/owncloud/ocs/handlers/apps/sharing/shares/spaces.go#L105-L110
- https://github.com/cs3org/reva/blob/edge/internal/grpc/services/gateway/storageprovider.go#L300-L303
- ...

[2022-02-08 11:26] gmgigi96 opened #2521 "Incorrect role after accessing a public link with Uploader role"
The role in the scope set by reva in a public share link is incorrect when created with Uploader role. It is `editor`, but should be `uploader`.
I think this is due to the fact that in the `publicshares` auth manager. the only permission checked is `InitiateFileUpload` and assigned an `editor` role, while the correct check should be:
  - if `InitiateFileDownload` and `InitiateFileUpload` are set =

[2022-02-08 11:56] kobergj commented on #2520
Great idea! There a lot. These are the ones I remember having touched recently...
- https://github.com/cs3org/reva/blob/edge/pkg/storage/utils/decomposedfs/spaces.go#L324
- https://github.com/cs3org/reva/blob/edge/pkg/storage/utils/decomposedfs/spaces.go#L627
- https://github.com/cs3org/reva/blob/edge/pkg/storage/utils/decomposedfs/decomposedfs.go#L178
- https://github.com/cs3org/reva/blob/edge/in

[2022-02-09 15:36] rhafer opened #2523 "LDAP auth-, user-, and group-providers can't cope with Active Directory GUIDs"
When using and Active Directory as the backend for CS3 user and groups it should be possible to use one  of the GUID that AD provides as the ID attribute for the cs3 users/groups. E.g. using this configuration:

[code]

`objectGUID` and other GUID Attributes in AD are just standard UUIDs. However, AD does treat them as bare Octetstring values in LDAP Search Results and LDAP filters. (Different to

[2022-02-14 15:41] #1787 closed

[2022-02-15 10:18] glpatcern opened #2543 "OpenInApp fails with invalid view_mode"
This may happen when the frontend asks to open a file with e.g.:

[code]

And the server returns HTTP 400 with:

[code]

We need to look in the HTTP layer in front of the AppProvider as there's a code path where all stat info is assumed to be available, including the permissions, whereas it happens that this is not the case and the `view_mode` is not inferred correctly.

[2022-02-21 03:51] phil-davis commented on #2480
What is happening here? We are happy to adjust tests. There has been plenty of discussion in PR #2510 - we just need a decision on the naming format to move forward.

[2022-03-03 14:43] aduffeck opened #2614 "Store fully qualified group ids with users"
This issue is a reminder to refactor the `Groups` array of users to hold all information.

Group ids consist of an `Idp` and and `OpaqueId` part, but the user object currently only holds an array of strings. This should be refactored to prevent clashes and confusion.

\cc @butonic @rhafer

[2022-03-04 12:53] C0rby commented on #2520
https://github.com/cs3org/reva/pull/2616

[2022-03-07 12:58] #2291 closed

[2022-03-07 12:59] #2172 closed

[2022-03-07 13:00] #2036 closed

[2022-03-07 16:22] micbar commented on #2523
Related to https://github.com/owncloud/ocis/issues/3150

[2022-03-08 15:07] C0rby commented on #2520
https://github.com/cs3org/reva/pull/2624

[2022-03-14 12:27] butonic opened #2635 "edge: WOPI server may encounter two different fileids for same resource"
When a publicly shared file is edited by a logged in user and a guest user the fileid is different for a resoucre is different when accessing it via a public link. This causes problems with the WOPI extension where users may enter and leave an edit session. If the fileid changes writes may fail when the original editor leaves the session.

In any case the public storage provider MUST NOT replace t

[2022-03-15 16:16] ishank011 opened #2640 "Fix static logging issues"
Logging is always expected to be done via the static logger embedded in the context. However, in some places in the code, we use the native library loggers which are not associated with the context and thus are not handled properly in the reva runtime.

Eg, in https://github.com/cs3org/reva/blob/32b439e51b946d0d1089f5bcb21135fad59b0574/pkg/auth/manager/oidc/oidc.go#L126

the message should be logg

[2022-03-15 22:07] KarthikSundar2002 commented on #2640
I will start working on this issue

[2022-03-16 08:52] ishank011 commented on #2640
Hi @KarthikSundar2002  thanks a lot for taking this up! Let me know if you have any questions or need any clarifications

[2022-03-21 10:54] butonic opened #2656 "Add publicstorage middleware"
With https://github.com/cs3org/reva/pull/2646 listing a folder by id will show the permissions of the owner. While the public scope can prevent writes when tha public link is read only, there is currently no way to reduce the permissions to reflect the link permissions.

The publicstorageprovider does roduce permissions correctly when accessing files with a reference that uses the token as the roo

[2022-03-22 10:51] butonic opened #2661 "edge: Fix flaky `[It] creates a home directory` test"
the integration test for storage providers: [`[It] creates a home directory`](https://github.com/cs3org/reva/blob/bca5582877f0de37839cd72333c41c5ba9d992a3/tests/integration/grpc/gateway_storageprovider_test.go#L136) seems to be flaky.

It failed in https://drone.cernbox.cern.ch/cs3org/reva/6217/5/3
[code]

But restarting the job passed in https://drone.cernbox.cern.ch/cs3org/reva/6218/5/3

[2022-03-23 15:01] butonic commented on #1804
This also makes sense for wopi which is trying to find out if it can access the parent of a resource.

Furthermore, GetPath() should return a path and a root resourceid for the relative path. The root might not always be a space root. It can also be any shared node.

cc @glpatcern @wkloucek

[2022-03-24 10:30] C0rby commented on #2520
https://github.com/cs3org/reva/pull/2666

[2022-03-25 07:06] wkloucek commented on #1627
@dragotin is this fixed with the locking approach?

[2022-03-25 07:06] wkloucek commented on #1626
@dragotin is this fixed with the locking approach?

[2022-03-25 14:40] butonic opened #2673 "Do we need to update the license header in every file to 2022"
asking for a friend...

[2022-03-25 16:09] C0rby commented on #2673
AFAIK only when you create a new file or edit one. The ones which were not touched don't get an updated year.

[2022-03-25 21:30] nilsocket opened #2675 "Building from source fails"
go version: `1.18`
`Linux nil 5.10.105-1-MANJARO #1 SMP PREEMPT Fri Mar 11 14:12:33 UTC 2022 x86_64 GNU/Linux`

on `make deps`
I get error: `go get doesn't work outside of a module for goimports`
With a temporary fix of using `go install x.com/goimports@latest`

Next,
on `make build`
I get error: `missing go.sum entry for golang.org/x/text/...`
with a temporary fix of running `go get` the above pa

[2022-03-28 12:06] labkode commented on #2673
@butonic I suggest we do the yearly update campaign :)

[2022-03-30 07:42] wkloucek commented on #2675
I'm also on Manjaro, but still on `go version go1.17.8 linux/amd64`.

`go mod tidy` also fails for me.

Could you try to run `go run ./cmd/revad`? That's the actual reva server you want to run. It will report that you're missing a config.

You can choose a config from the [examples directory](https://github.com/cs3org/reva/tree/master/examples) by running `go run ./cmd/revad -dev-dir examples/xxx`

[2022-04-04 14:25] defending1 commented on #2249
In #2235 (review) @ishank011 mentioned that the current regex is
/eos/user/[a-z]/[a-z]./\w.
Is there a place where the format of accepted folders is described in the docs?

I also see another problem about this expression.
A case that this expression would accept is
/eos/user/a/a;/3?
which is not allowed.

[2022-04-06 02:55] afzal442 commented on #2640
hey @ishank011, I would like to look into it. 🍀

[2022-04-12 11:50] ishank011 opened #2739 "OCM WebDAV service"
# What?

The Open Cloud Mesh (OCM) is a protocol that enables sharing of data across various cloud providers, given that they agree on the APIs that they'll be exposing to users from these other providers. For different reva deployments, each of which might connect to different storage backends and authentication providers, this is supposed to work out of the box.

# The workflow
## Invitation wor

[2022-04-12 11:59] ishank011 commented on #2739
Looking at the specific reva services and APIs, the workflow would look like:
[code]

Relavant code:
`/ocm/shares`: https://github.com/cs3org/reva/blob/master/internal/http/services/ocmd/shares.go
`CreateOCMShare`: https://github.com/cs3org/reva/blob/master/internal/grpc/services/gateway/ocmshareprovider.go
`CreateOCMCoreShare`: https://github.com/cs3org/reva/blob/master/internal/grpc/services/gat

[2022-04-16 17:56] KarthikSundar2002 commented on #2675
This issue arises due to the fact that the Makefile is outdated, I can make a PR with the correct Makefile

[2022-04-18 11:13] ishank011 commented on #2739
How Bob would be able to access the files received by him:
1. He'd call `ListReceivedOCMShares` on CESNET's reva.
2. He'd call `UpdateReceivedOCMShare` to accept the share.
3. `/Shares` would have a new entry `myFolder`
4. Bob now wants to list the files in `myFolder`, reva @ CESNET should make a PROPFIND (listing) call to `/ocm/webdav` at reva @ CERN

[2022-04-18 15:03] pascalwengerter commented on #2675
Feel free to open a PR, of course! :)

[2022-04-19 02:12] KarthikSundar2002 commented on #2675
I have opened a PR https://github.com/cs3org/reva/pull/2747 with the changes.

[2022-04-19 05:50] #2322 closed

[2022-04-19 17:45] KarthikSundar2002 commented on #2675
Now that my PR is merged, I guess this issue can be closed after verifying

[2022-04-25 12:12] ishank011 commented on #2675
Fixed by https://github.com/cs3org/reva/pull/2747

[2022-04-25 12:12] #2675 closed

[2022-04-26 14:11] michielbdejong opened #2782 "Fix outdated Nextcloud example"
See https://gitter.im/cs3org/REVA?at=62421b1e0466b352a43e30c9

[2022-04-26 14:11] michielbdejong commented on #2782
@navid-dada can you have a look at this please?

[2022-05-01 08:32] afzal442 commented on #2640
I think, this issue has been addressed. It needs to be closed.

cc @glpatcern

[2022-05-02 11:03] glpatcern commented on #2640
@afzal442 that particular example was indeed refactored, but there are others with the pattern mentioned by @ishank011

[2022-05-02 12:36] afzal442 commented on #2640
/assign

[2022-05-02 16:56] shokri-navid opened #2815 "reva failed due to next cloud configuration."
I installed reva on my machine but when I run reva command inside `/cmd/revad` folder but I am getting this error:

but I have this `endpoint` property in my /etc/revad/revad.toml :

[code]

[2022-05-02 19:05] michielbdejong commented on #2815
Might be related to #2782 - I will dive into it next week!

[2022-05-03 06:58] rhafer commented on #2124
This has been fixed with: https://github.com/cs3org/reva/pull/2708

[2022-05-03 06:58] #2124 closed

[2022-05-03 06:58] rhafer commented on #2122
Fixed since https://github.com/cs3org/reva/pull/2708

[2022-05-03 06:58] #2122 closed

[2022-05-03 17:06] wkloucek commented on #2635
already fixed in https://github.com/cs3org/reva/pull/2646 :+1:

[2022-05-03 17:06] #2635 closed

[2022-05-06 08:49] butonic commented on #1193
outdated

[2022-05-06 08:49] #1193 closed

[2022-05-06 08:49] #284 closed

[2022-05-06 08:50] butonic commented on #326
outdated

[2022-05-06 08:50] #326 closed

[2022-05-06 08:50] #376 closed

[2022-05-09 09:28] ishank011 opened #2843 "Spaces registry: path templates don't obey mountpoints"

[2022-05-09 12:27] butonic commented on #2843
umm `/users/[l-z]` does not make sense for a user with username `Alice`, does it? If you mean that a storageprovider with the `mount_point` `/users/[a-k]` **should** return a space path `/users/Alice`, then I agree.

[2022-05-09 12:40] ishank011 commented on #2843
Exactly what I'm saying. If `alice` sends a `ListStorageProviders` request with a `resourceID` filter corresponding to a `personal` storage provider mounted at `/users/[l-z]`, it should return a not found error. Currently it just frames the path depending on the user sending the request irrespective of whether the path would actually exist on the provider or not.

[2022-05-09 21:23] mateusz-garlacz opened #2847 "Incorrect status code in share-create"
When the same share is created twice, reva returns "code: CODE_INTERNAL message: "error creating share" trace: "a3120392e3bde58291615b89181acebe". Could we use more explicit status code like CODE_ALREADY_EXISTS and more detailed message info?

[2022-05-11 14:31] michielbdejong commented on #2815
Testing this out with the image from https://github.com/cs3org/ocm-test-suite/tree/main/servers/revad
and then `docker run -it revad /bin/bash`
Inside the container:
[code]
I was able to replicate the error:
[code]

[2022-05-12 06:24] butonic opened #2859 "make space registry match providerids with regexes"
We generate provider IDs dynamically. Can you make these work with regexes?

[code]

For example, provider IDs `1284d238-aa92-42ce-bdc4-0b000000[9157-9159]` should go to `localhost:11000`

And doing a `ListProviders` without any filters should ideally return all of these:
[code]

_Originally posted by @ishank011 in https://github.com/cs3org/reva/pull/2792#discussion_r867995757_

[2022-05-12 09:33] ishank011 commented on #2859
Hi @butonic. What's the timeline for implementing this and improving path-based lookups?

[2022-05-12 09:34] ishank011 commented on #2859
I'm starting to work on it as it's urgently needed for us and I'd appreciate it if you could review and merge it soon.

[2022-05-12 09:44] phil-davis opened #2861 "trash-bin propfind responses are wrong in reva master"
trash-bin propfind responses were fixed in edge PR #2821 and the core API test code was sorted out to correctly expect and process the responses, and to fail if it detects any problem.

As a result, the core API test code now fails the related tests when run against reva master branch. I will post a list of failing scenarios when I have a final test run.

The fixes from edge PR #2821 need to be ba

[2022-05-12 11:57] #2640 closed

[2022-05-17 15:02] ishank011 opened #2881 "Edge performance issues"
When calling the `GET /ocs/v1.php/apps/files_sharing/api/v1/shares?include_tags=false&state=all&shared_with_me=true` endpoint, each received share is statted 23 times (twice via the `Stat` call, the rest of the times via the `ListStorageSpaces` call), since `ListStorageSpaces` is called every time any type of operation needs to be performed.

Enabling the storageprovider cache in the gateway reduc

[2022-05-17 16:12] ishank011 commented on #2881
One suggestion would be to not call ListStorageSpaces for every lookup. Just verify that the provider ID or mountpoint matches, return that and assume that it’ll handle the actual storage request.

I tried to implement something related to this but since generating the space path requires attributes of the space a reference belongs to, I couldn’t. The gateway storage provider constructs a relative

[2022-05-20 12:55] butonic commented on #2881
cc @kobergj @aduffeck ^

[2022-05-23 11:06] butonic commented on #2881
We have to differentiate to types of requests as they follow different lookup semantics:
1. relative requests that have a ResourceID and a Path set
2. Path based requests

For 1. we added https://github.com/cs3org/reva/pull/2792 which should use the providerids that are provided in ocis since: https://github.com/owncloud/ocis/pull/3619. ocdav does a LookUpStorageSpaceByID call which contains an ID

[2022-05-26 10:06] kiranparajuli589 opened #2897 "`meta` requests have empty responses with master branch"
## Description
For the `edge` branch, the recently added meta API tests are passing OK but with the `master` branch every meta request exits with an empty response.

The test PR in core: https://github.com/owncloud/core/pull/40042
The failed build in reva-master build: https://github.com/cs3org/reva/pull/2893#issuecomment-1137084929

[2022-05-26 10:29] phil-davis commented on #2897
So these test scenarios will be listed in expected-failures in master branch.
That is why this issue has been raised - the expected-failures file can have a link to this issue as the reason for the failures.
"some day" it would be good for `master` branch to have code that passes lots of the oC10 core API test scenarios.

[2022-05-26 11:09] kiranparajuli589 commented on #2897
I tried to run the API requests locally but I get an unauthorized response even for correct user credentials.
Also, in the ci noticed the following logs (also seen locally):
[code]

[2022-05-31 13:38] ishank011 opened #2906 "edge: favorites still use full paths"
Favorites also need to follow a spaces based approach, this needs to be fixed:

https://github.com/cs3org/reva/blob/036e520a0010d8cad94154ea46a73a26897dc344/internal/http/services/owncloud/ocdav/report.go#L102-L115

[2022-05-31 16:11] shokri-navid opened #2908 "I cannot get the reva invitation token in nextcloud sciencemesh app."
when I am trying to connect to the reva using sciencemesh bextcloud/owncloud app All of procedure such as sebdinng request from app to reva and the process of reva user authenticating using nextcloud/owncloud are finished successfuly but  at the end there is some wrarning and thos prevent from generating the token:

[code]

[2022-06-01 14:11] phil-davis opened #2916 "reShareUpdate API tests failing in reva"
https://drone.cernbox.cern.ch/cs3org/reva/7313/13/6
[code]

[code]

After the API test code changes in core PR https://github.com/owncloud/core/pull/40114 these are failing in reva.

They are passing in oCIS (I will find a CI example of that...)

I will add them to expected failures for now, because it will be good to get the benefit of the core API test code changes running in reva CI.

ToDo:
- [

[2022-06-02 13:52] kobergj commented on #2916
Interestingly enough it doesn't fail on the resharing branch: https://github.com/cs3org/reva/pull/2877

It is up to date with master, so some changes in there seem to fix it.

[2022-06-02 14:10] kobergj commented on #2916
Looking closer into it I would strongly suggest that the reason why it passed before is https://github.com/owncloud/core/issues/40093
[code]
This "last share" was probably some other share and resulted in success. I cannot say which one though.
But I can say for sure that it wasn't possible to delete a share without the share permission. I added that functionality in https://github.com/cs3org/reva

[2022-06-04 16:48] francescocarzaniga commented on #1632
There is now a problem with nats-server, see nats-io/nats-server#3018.

[2022-06-06 11:20] phil-davis commented on #2916
Note: these scenarios are in oCIS expected-failures:
[code]

They are linked to a different oCIS issue that no longer seems relevant.
An example CI run is:
https://drone.owncloud.com/owncloud/ocis/12263/44/7
[code]

So this does fail in the same way on oCIS.

I will write-up an oCIS issue tomorrow with better details and example curl commands. Then we can link everything to that, and discuss what

[2022-06-06 11:23] SwikritiT opened #2926 "apiShareOperationsToShares1/gettingShares.feature:28 fails in CI"
This feature is failing in CI in master and edge. It passes in OCIS. Making this issue so that the tests can be linked in expected to fail and further investigation can be made on why the tests are failing.
[code]

CC: @phil-davis

[2022-06-07 09:52] ishank011 opened #2927 "Consult user shares provider for shares markers when doing propfinds"
When doing propfinds, we use the metadata returned by the storage providers to decide whether the resource has been shared or not

https://github.com/cs3org/reva/blob/623d181b5e5b26e4a47220cfa98321719bb0e742/internal/http/services/owncloud/ocdav/propfind/propfind.go#L1031-L1040

And call `ListPublicShares` to check if a public link has been created.

https://github.com/cs3org/reva/blob/623d181b5e5

[2022-06-09 12:03] ishank011 opened #2942 "State of OCM in reva"

[2022-06-09 12:03] ishank011 opened #2943 "State of OCM in reva"

[2022-06-10 07:11] shokri-navid opened #2948 ""error forwarding invite" error on accepting invitation request."
I am using Owncloud Sciencemesh to share storage with other Owncloud users. generating the invitation token and authorization process works perfectly on the sender party side but in the acceptor party side when I try to accept the invitation I am getting these two errors:

[2022-06-10 09:51] michielbdejong commented on #2948
If you see that error on your revaoc2.docker then there is probably a more informative error message on your revaoc1.docker (for instance, maybe the user was already added, or the token is invalid).

[2022-06-10 10:57] navid-dada commented on #2948
I insert whole reva logs of acceptor party:

2022-06-10 10:54:44.136 WRN ../../reva/internal/http/interceptors/auth/auth.go:205 > core access token not set pid=7 pkg=rhttp traceid=cff79cef436cea177f2da589b0af3480

2022-06-10 10:54:44.136 DBG ../../reva/internal/http/interceptors/auth/auth.go:218 > credentials obtained from credential strategy: type: basic, client_id: marie pid=7 pkg=rhttp traceid=

[2022-06-13 08:35] michielbdejong commented on #2948
That still looks like the logs of revaoc2.docker (start-to-Revaoc in https://github.com/cs3org/ocm-test-suite/tree/main/scripts), not revaoc1.docker (start-from-Revaoc there)?
1.  First, `oc2.docker` makes the `/ocm/invites/forward` call to `revaoc2.docker`, and then
2. `revaoc2.docker` makes the `/ocm/invites/accept` call to `revaoc1.docker`.

I think the error is probably happening during that s

[2022-06-13 08:41] labkode opened #2953 "Show version number rather than commit in sysinfo service"
Sometimes the version number shown in the sysinfo service used by ScienceMesh is a commit ID rather than the tagged version.

The build info is taken from the build tags:
https://github.com/cs3org/reva/blob/a8c61401b662d8e09175416c0556da8ef3ba8ed6/cmd/revad/main.go#L56

so I think we just need to make sure that the packaged reva version in the ArtifactHub is the one with a tag.

[2022-06-13 12:35] labkode opened #2954 "CERN feature list"
This issue is to track all functionalities that are or will be implemented in the Reva master branch for CERNBox use-cases.
This is issue acts as a master issue, please follow individual issues for more details:

* Project spaces: https://github.com/cs3org/reva/issues/2964
* Universal path-based URLs: https://github.com/cs3org/reva/issues/2965
* Lightweight accounts: https://github.com/cs3org/reva

[2022-06-14 08:18] michielbdejong commented on #2948
Thanks for adding the `revaoc1.docker` logs! Indeed, there is a matching `"error accepting invite"` error there but unfortunately it doesn't provide a lot of detail. I'll try to reproduce this issue.

[2022-06-14 08:42] michielbdejong commented on #2948
I couldn't reproduce the error on ocmhost.pondersource.com - there I see
[code]

let's look at it together in a screensharing session!

[2022-06-14 08:47] dragonchaser opened #2961 "S3NG Does not delete files."
When running ocis with minio as a backend, files deleted via frontend are not removed from the bucket.

[2022-06-14 20:13] labkode opened #2964 "CERN: Project Spaces"
• A space is owned by a service account, quota is assigned to this service account.
• A space needs 5 roles: owners, administrators, writers, readers and viewers (only view, no download, no sync)
• Administrators/Owners are the only ones that can share from the project space
• Shares owner is the service account, initiator is either the owner or the administrator
• owners and administrators can se

[2022-06-14 20:13] labkode opened #2965 "CERN: Universal path-based URLs"
URLs that contains full/absolute EOS paths that user can copy and send to
someone
• URLs should work for:
• "Files" view
• "Applications" view

We will implement them like agreed here: https://github.com/owncloud/ocis/blob/4d65c0efc4d33bade81453705b6dbf2650162a2d/docs/ocis/adr/0011-global-url-format.md#cern-proposal-for-cleaner-and-user-friendly-urls

[2022-06-14 20:14] labkode opened #2966 "CERN: Lightweight accounts support"
Accounts that they do not have a personal home space but can access (ro/
rw) any shared space (Project Spaces and Shares).

[2022-06-14 20:15] labkode opened #2967 "CERN: Deny of ACLS"
See attached presentation from September 2021:
https://new.cernbox.cern.ch/s/qliRAxgPsMNmPOx

[2022-06-14 20:16] labkode opened #2968 "CERN: Integration with applications"
Includes support for WOPI related applications: Office 365
• With support for locking semantics across different applications
Non-WOPI related applications: pdf, image gallery, drawio, ...

[2022-06-14 20:17] labkode opened #2969 "CERN: Single file sharing"
Allow single files to be shared with individuals and groups

[2022-06-14 20:18] labkode opened #2970 "CERN: File search"
Allow our users to search for filenames
Provide a list of "recently viewed" files in the main UI

[2022-06-14 20:19] labkode opened #2971 "CERN: User defined notifications"
Ability to set a notification workflow for specific files/directories to trigger a
mail to a specific e-group/person

[2022-06-14 20:23] labkode opened #2972 "CERN: Synchronisation of shares from the desktop sync client"
* Only accepted shares will be synced.
* We'll use a new remote endpoint: `/remote.php/webdav/MyShares`
• This is a virtual view (i.e symlink behaviour)

Note that we plan to use the old WebDAV endpoint to introduce this feature (`remote.php/webdav/eos/user/h/hugo/...`)
We won't be able to introduce a new sync client that talks only Spaces until a migration path is stablished, this issue is stale:

[2022-06-15 10:10] dragonchaser commented on #2961
Failure on my side, there is just a 15min delay between deletion in the frontend and the data being deleted in minio. Sorry for the noise.

[2022-06-15 10:10] #2961 closed

[2022-06-15 10:35] dragotin commented on #2859
@butonic is that ticket done with the commits? Please follow up.

[2022-06-15 13:18] micbar commented on #2965
This web PR is the fix for that https://github.com/owncloud/web/pull/7053/files

[2022-06-15 13:19] micbar commented on #2965
Sorry, close was premature, we still need the app urls

[2022-06-15 13:42] labkode commented on #2954
From mail thread:
[code]

[2022-06-15 13:43] kulmann commented on #2965
I guess https://github.com/owncloud/web/issues/6648 is also needed. But the PR linked by @micbar was a prerequisite for that, so at least we're in an `in progress` state here.

[2022-06-15 13:43] labkode commented on #2964
@dragotin @micbar can you please go to each of the points described above and specify what is currently implemented?

[2022-06-15 13:56] labkode commented on #2972
@dragotin @micbar can you provide info on how this feature is being implemented?

[2022-06-15 14:08] labkode commented on #2967
This functionality is already implemented in the server and OCIS Web:
https://github.com/cernbox/reva/commit/5d4054628b5a43d9b7bf0877367ea10400a3cdc2
https://github.com/cernbox/web/commit/1d75877919e862fdecfdff3bae366ede3951ba1a

Testing of this functionality in the sync client has been positive.

[2022-06-15 14:10] labkode commented on #2970
@dragotin @micbar how this search feature has been stress tested? How many files?
Does the UI contains the "Recently viewed" files?

[2022-06-15 14:12] ishank011 commented on #2964
This is a blocker https://github.com/owncloud/web/issues/6972

[2022-06-15 14:16] dragotin commented on #2964
@ishank011 in owncloud/web#6972 is a question open from @kulmann Can you help pls?

[2022-06-15 14:42] labkode commented on #2968
This should be already in edge.
Locking is already implemented for the EOS driver.

[2022-06-15 16:30] labkode opened #2976 "IO patterns in OCIS decomposed FS"
This issue tracks IO patterns in the OCIS decomposed FS for optimisation.
Testing setup: https://owncloud.dev/ocis/getting-started/
Username for testing: einstein/relativity
Host machine: Centos 7

# Empty personal space
As a user I click on the "All files tab" from the web, the following number of requests are made:
[code]

## Creating a folder in the empty personal space
[code]

## Listing the p

[2022-06-15 16:43] labkode commented on #2976
@dragotin @micbar this is a good starting point.
From this quick analysis I don't know if the explosion of the operations comes from the implementation of the filesystem of from upper layers.

[2022-06-15 21:54] micbar commented on #2970
https://github.com/owncloud/ocis/blob/3a43daf8c4a0b5580d953f88372b68aded5aa46a/extensions/search/pkg/search/search.go#L38

[2022-06-16 11:58] butonic commented on #2976
For eos most of the read xattrs are fetched with a single `eos finfo`. If you take a look at the xattr names: `tmtime` and `treesize` aro covered by the `eos finfo`. Measuring the number of xattr reads in decomposedfs and trying to inferring eos performance from it is wildly misleading, IMO.

Aggregating ListStorageSpace, Stat and GetPath into a single call seems to be the more fruitful approach:

[2022-06-17 07:26] labkode commented on #2976
@butonic for xattr is understandable, however there a dozens of stat calls, which they will affect EOS.

[2022-06-17 08:29] glpatcern opened #2983 "Update examples and corresponding docs"
Currently, the `ocmd` example works but without apps -> the documentation is obsolete.

The most complete example is `storage-references` -> need to check that apps work and fix it + update docs

[2022-06-20 05:54] labkode commented on #2964
I think this could be fine as we can hide the details in the backend implementation.
When creating a space, we'll create it in EOS and assign the quota and service account to the EOS project space.

Managers look like our admins. If a manager has "Can change space quota" change it for multiple spaces or only to the one that  the user is a manager?

This won't work for us. We expect only administra

[2022-06-20 08:18] butonic commented on #2966
While the lightweight account code has been merged we plan to support guest accounts with roles. Currently, reva calls CreateHome for every user. We should only make the CreateHome call for accounts that should be autoprovisioned. For guests that is not the case. We can identify guests based on their role or the idp.

Anyway, even if the CreateHome call fails (eg because it already exists) the use

[2022-06-20 09:20] redblom commented on #2942
Currently a second OCM share (from another user) overrides the OCM share from the first user when both shares use the same folder structure (name clash). The resulting mount paths will be the same.
This is relevant for data transfer type OCM shares as well.
Note that there is an unimplemented case in the [`UpdateReceivedOCMShare`](https://github.com/cs3org/reva/blob/1ace372c4ba058f8f549e9cad882eb5

[2022-06-20 11:21] phil-davis commented on #2942
Note: I think that this issue is related - https://github.com/owncloud/ocis/issues/3880 and not actually fixed/resolved.

There is "trouble" if 2 users create a file with the same name (and usually it will have different content). They both share the file with user3. user3 receives 2 incoming shares that have the same naming, and has trouble to distinguish them and to fetch/get the content of each

[2022-06-20 12:38] redblom commented on #2942
Yes, seems definitely related.
Based on the [current code](https://github.com/cs3org/reva/blob/1ace372c4ba058f8f549e9cad882eb56c8745ec0/internal/grpc/services/gateway/ocmshareprovider.go#L398) I can only guess what the original idea (if any) was on how to deal with this.

The actual precise mechanism of how to deal with name clashes needs to be defined first.

[2022-06-21 09:10] TheOneRing commented on #2966
I'd expect the desktop client to work as expected.

[2022-06-21 15:17] ishank011 commented on #2942
@redblom @phil-davis we're planning on getting rid of the implementation that brings about this issue in the first place, as part of the GSoC project

[2022-06-22 07:37] felix-schwarz commented on #2966
The iOS client currently sees the personal space as just another space among many, so it'd expect this to just work.

[2022-06-22 11:08] abelgardep commented on #2966
The android client does not support spaces yet

[2022-06-23 11:13] labkode commented on #2953
@dagl can you please take this one?

[2022-06-23 16:09] micbar commented on #2971
Building blocks are in place:

1) Reva emits all file related events and sends it to the `nats` service in ocis
2) Nats is bundled in ocis but could also be used with a dedicated system. Nats is an industry standard and needs to be scaled accordingly
3) We have an implementation in ocis for an email messaging service. That could also be a push-notifications service.

[2022-06-24 10:13] micbar commented on #2967
@labkode See #3011 as a first attempt to make it work on the edge branch.

[2022-06-24 10:32] micbar commented on #2964
@dragotin @pmaier1 @labkode
We need two more roles where "ListGrants" is set to false

# CERNBOX SpaceViewer

[code]

# CERNBOX SpaceEditor

[code]

[2022-06-24 11:06] pmaier1 commented on #2964
Agree with @micbar. Best case these roles would be somehow customizable. For the general product, I'd like to have `ListGrants`  set to `true`. Anyway, I agree to first satisfy CERN desired behavior.

[2022-06-28 09:37] kobergj commented on #2167
Was fixed here: https://github.com/cs3org/reva/pull/2166

[2022-06-28 09:37] #2167 closed

[2022-06-29 14:15] dragotin commented on #2972
oCIS edge has virtual views under the routes `remote.php/webdav/Shares` and also the old, user based Shares path. That means that old clients (version below 3.0.0 which have no spaces knowledge) will find the shared files automatically under that routes. That should not change at all to what you have now.

With the 3.0.0 client, which uses the drives endpoint, the shares will appear as new Space:

[2022-06-30 14:06] kulmann commented on #2968
pdf-viewer and drawio exist as frontend-only apps in web. Image gallery is not implemented, yet.

[2022-06-30 15:36] micbar commented on #2964
Further Clarification after some Research:

I was wrong about that. It is implemented like you need it. "only the space administrators (managers) can share or change permissions"

This permission is attached to the global User Role "Admin", so a User with that Role can change the quota on all spaces.

According to PM. this feature is on the after GA Roadmap.

My personal POV on this is still, that

[2022-06-30 15:36] micbar commented on #2964
@labkode ^

[2022-07-01 06:53] labkode commented on #2964
Good!

Good as well!

You can have a driver for OCIS based on the CERNBox one:
https://github.com/cs3org/reva/blob/master/pkg/cbox/user/rest/rest.go

The CS3APIS define a type of user named `LIGHWEIGHT` that does not have any personal quota assigned.
The Web UI in our fork understands this user type.

[2022-07-01 07:09] labkode commented on #2969
@kulmann I think Web is good in this aspect. I confirm you in a few hours.

[2022-07-01 07:10] labkode commented on #2968
@kulmann when I mean image gallery, I mean the image viewer, that is working on master, just to clarify

[2022-07-01 07:15] kulmann commented on #2968
Thanks for clarifying! I thought you referred to the grid view, which is planned but not implemented.

Regarding locking, we also plan to show an indicator in the file list for locked files FYI.

[2022-07-01 07:18] kulmann commented on #2966
Thanks, so the requirement is actually to just show a customizable welcome screen? No files related view needed as initial view, correct?

[2022-07-01 07:21] labkode commented on #2969
@kulmann yeah all good for Web, @diocas confirmed that this capability was pushed long ago to web.

[2022-07-01 07:23] labkode commented on #2966
@kulmann correct, however access to Shares and Projects is still needed.

[2022-07-01 07:25] labkode commented on #2972
@dragotin would you be able to show us how the old sync client synchronises shares under a new sync folder pair that talks to `remote.php/webdav/Shares`?

[2022-07-01 07:25] kulmann commented on #2966
Thats clear. Was just referring to the initial view :-)

[2022-07-01 07:30] kulmann commented on #2969
we adopted your contribution for the product as well. Working with web master + ocis with reva edge.

[2022-07-01 07:31] kulmann commented on #2968
Yes, the preview app and all thumbnails are working fine with edge.

[2022-07-01 09:24] micbar commented on #2970
## Current State

- We store the spaces in one bleve index and have one service running.

### What would we need to do to scale that?

### Understand the limitations of bleve

- How big can one index grow?
- Does it help to open / close indexes on demand?
- Do we gain performance if we shard spaces across multiple indexes?
- Can we shard the whole load across multiple search services?

[2022-07-01 12:13] labkode commented on #2972
[code]

[2022-07-01 12:19] micbar commented on #2972
That works

## ocis 2.0.0-beta.4

[code]

[2022-07-01 12:32] labkode commented on #2964
A priori, this issue can be closed. The only remaining item is the access for lightweight accounts to Spaces.

[2022-07-01 12:33] labkode commented on #2965
Still waiting on: https://github.com/owncloud/web/issues/6648

[2022-07-01 12:33] labkode commented on #2966
Work in progress

[2022-07-01 12:35] labkode commented on #2971
For sending mails, a dedicated service will be created that reads from the event queue and dispatches them.

@micbar can you paste here an event payload that contains for example "new file created"?
I expect the payload to contain a path.

[2022-07-01 12:36] labkode commented on #2970
Work in progress, Bleve stress tests to be done.

[2022-07-01 12:37] labkode commented on #2969
Closing, this one can be demoed.

[2022-07-01 12:37] #2969 closed

[2022-07-01 12:37] labkode commented on #2968
Applications are there, the only missing part is that they need to honour the global urls:
#2965

[2022-07-01 12:40] labkode commented on #2972
@micbar that is great! Note that the URLs are:

[code]

and the Shares are not in:
[code]

but in `/remote.php/webdav/Shares`

Just to clarify, as `remote.php/webdav/Shares` works by chance if your personal home is in `/remote.php/webdav/`

[2022-07-01 12:45] labkode commented on #2976
Work in progress.

I suggest you do a profiling of the previous scenarios on edge to compare to baseline in master.
The profiling will help to identify where the bottlenecks are, to remove the implementation of driver aside.

[2022-07-01 12:54] micbar commented on #2972
@labkode To clarify the behavior of a vanilla ocis regardless of `master` or `edge`

Home is `/remote.php/webdav`
If we do a PROPFIND on this, it includes `/remote.php/webdav/Shares`

[2022-07-08 11:52] pmaier1 commented on #2966
This feature is on the roadmap for 2022. It basically boils down to two parts
a) A user invitation workflow (using integrated LDAP, using external IDP provisioning API)
b) A user role "Guest" that incorporates the guest permissions (e.g., "does not own a personal space")

[2022-07-08 11:55] labkode commented on #2967
Work in progress, waiting for PM approval for GA.

[2022-07-08 11:56] pmaier1 commented on #2967
UI proposal: https://github.com/owncloud/web/issues/7180

[2022-07-08 11:58] labkode commented on #2971
Can we have an example of a payload for a file created?

[2022-07-08 11:58] kulmann commented on #2966
From my point of view we can treat the lightweight accounts like normal `User`-role users in ocis. Backend side we'd need to make sure that the lightweight accounts don't have a drive of type `personal` in the `/me/drives` response. If we can make that possible we can implement in web that the `Personal` nav item would be omitted and instead show a welcome page with customizable content (via theme

[2022-07-08 12:01] micbar commented on #2971
https://github.com/owncloud/ocis/blob/84d9b390a61b99c49066dc096cbf7607501cc3ee/services/audit/pkg/types/conversion.go#L245

There are some examples

[2022-07-08 12:12] labkode commented on #2972
Can we have an example of the OCIS endpoint that we should proxy pass the request going to `/remote.php/webdav/Shares`?

[2022-07-08 12:21] labkode commented on #2976
Work in progress.

[2022-07-11 09:35] labkode opened #3057 "Error in VirtualViews test"
https://drone.cernbox.cern.ch/cs3org/reva/7876/9/5

Suddenly the builds stop working on this test.
Any idea?

@phil-davis
@SwikritiT

[2022-07-11 11:31] phil-davis commented on #3057
Related issue https://github.com/bamarni/composer-bin-plugin/issues/122

[2022-07-11 11:38] labkode commented on #3057
@SwikritiT I've temporary disabled this test to pass the remaining PRs: https://github.com/cs3org/reva/pull/3061

[2022-07-11 13:27] alingse opened #3066 "Bug: pass"
i am writing a [linter](https://github.com/alingse/asasalint) to lint that pass []any as any in variadic function

and run github Actions for some top go packages, this package failed

see github action result here https://github.com/alingse/asasalint/runs/7271246945?check_suite_focus=true

[code]

the redis usage
[code]
should be

[code]

[2022-07-11 18:52] mateusz-garlacz opened #3068 "Permissions violation in shared directory"
It is possible to create resources in a directory which was shared with viewer permissions:

[code]
[code]
[code]

Marking @gmgigi96

[2022-07-11 23:48] phil-davis commented on #3057
Note: VirtualViews tests were temporarily disabled on `master`.

They were already disabled on `edge` branch - they fail there already anyway.

[2022-07-12 03:04] phil-davis commented on #3068
Which branch - `master`, `edge` or both?

[2022-07-12 04:11] phil-davis opened #3069 "composer 2.3.9 needed in CI"
registry.cern.ch/docker.io/owncloudci/php:7.4 has composer 2.0.6

The recent release of `bamarni/composer-bin-plugin` https://github.com/bamarni/composer-bin-plugin/releases/tag/1.7.0 needs a later version of composer - something recent in the 2.3.* releases.

[code]

The reva CI in both master and edge branches has had the above added to do `composer self-update` at run-time. But it would be nice

[2022-07-12 04:12] phil-davis commented on #3069
@labkode who manages the docker images at `registry.cern.ch/docker.io/`

(or do they automatically update when the `owncloudci/php` images are published?)

[2022-07-12 07:20] labkode commented on #3069
@phil-davis I think we pull from upstream but we use a docker proxy to avoid network throttling. @SamuAlfageme can you please check if this applies?

[2022-07-12 07:21] phil-davis commented on #3069
Note: I updated https://github.com/owncloud-ci/php/ this morning so that those PHP docker images now have composer 2.3.9

[2022-07-13 08:06] redblom commented on #2942
Some requirements:

- `ocmshareprovider.UpdateReceivedOCMShare` should be implemented for all fields (`state`, `name` (mount_point basically is `share.Name`), etc)
- The name clash issue (overriding existing shares) should be prevented in the first place, when accepting the share, by creating a unique mount_point. Eg. based on a timestamp.

[2022-07-13 20:39] mateusz-garlacz commented on #3068
Sorry for omitting that - I checked that on master

[2022-07-15 11:24] #2964 closed

[2022-07-15 11:26] labkode commented on #2971
We'll implement in master based on the work in edge.
The big chunk of work is in the driver, so by respecting the interface of edge we'll be on the safe side when moving to edge.

[2022-07-15 11:27] labkode commented on #2970
We'll implement on master using the existing search API (Report method).
The big chunk of work is in the driver, so by using the same interface as in edge, the migration should not give any major headaches.

[2022-07-15 11:27] labkode commented on #2968
Missing for applications to use global-urls, as per #2965

[2022-07-19 08:44] gmgigi96 commented on #3068
Are you running the storage-references config in the examples?

[2022-07-19 16:03] mateusz-garlacz commented on #3068
I am running two server setup

[2022-07-22 06:42] phil-davis commented on #3069
Note: `bamarni/composer-bin-plugin` 1.8.0 refactored their code so that it works with any composer 2.* version, and does not depend on new features in composer 2.3. So this is not a big problem any more.

[2022-07-22 06:46] phil-davis commented on #3069
A CI  run just now:
https://drone.cernbox.cern.ch/cs3org/reva/8095/17/7
[code]

The PHP docker image still has composer 2.0.6. So it looks like it is not automatically updating from `owncloudci/php`

[2022-08-01 08:14] Daniel-WWU-IT opened #3113 "Mentix OCM Auth Provider Normalization"
The Mentix OCM Auth Provider currently lacks provider normalization; this can lead to incorrect domain mismatches.

[2022-08-01 08:26] labkode commented on #3113
@mirekys can you take this over?

[2022-08-03 03:09] phil-davis opened #3119 "WebDAV MOVE with body returns 400 rather than 415"
This was fixed in the edge branch, but still fails in the master branch.
https://drone.cernbox.cern.ch/cs3org/reva/8201/10/6
[code]

expected-failures in reva master will link to this issue.

The fix from edge could be backported to reva master, if someone wants to do it.

[2022-08-16 19:22] mateusz-garlacz commented on #3068
@gmgigi96 @phil-davis Hi guys, did you have time to investigate it? Will this issue be adressed anytime soon?

[2022-08-17 02:56] phil-davis commented on #3068
@mateusz-garlacz I am not ijvolved with `master` branch, so I don't know what is the timeline for fixes there.

@labkode ?

[2022-08-17 06:16] #889 closed

[2022-08-18 07:48] butonic opened #3161 "check every storage driver returns ResourceInfo.Name"
ResourceInfo now has Name and Path properties. At least in the edge branch Name should be the preferred property.
- [ ] double check every existing driver fills it
- [ ] add a fallback to the storageprovider that fills Name with filepath.Base(ri.Path)?

[2022-08-21 18:21] mateusz-garlacz commented on #2847
The same applies to:
- creating ocm share twice
- removing share that does not exist
- updating ocm share that does not exist

Please adjust error codes to more proper ones

@gmgigi96

[2022-08-22 07:30] butonic opened #3166 "edge: [decomposedfs] concurrency test flaky"
In https://drone.cernbox.cern.ch/cs3org/reva/8418/5/3 the decomposedfs concurrent createdir test failed:
[code]

and in https://drone.cernbox.cern.ch/cs3org/reva/8430/5/3
[code]

[2022-08-22 10:08] redblom commented on #2288
@michielbdejong We want to finalize this (in the context of https://github.com/cs3org/reva/pull/3121).
Can you confirm that the proposed format of the idp field, as origin (eg. https://cernbox.cern.ch) is definite ?

[2022-08-22 11:27] michielbdejong commented on #2288
In https://github.com/cs3org/cs3apis/pull/159#discussion_r766662560 @wkloucek proposed a 3rd option, namely a full URL. So the options are:

1) domain, e.g. "cernbox.cern.ch"
2) origin, e.g. "https://cernbox.cern.ch"
3) full URL, e.g. "https://cernbox.cern.ch/some/path"

I'm OK with whatever you prefer!

[2022-08-22 13:46] butonic opened #3168 "edge: nextcloud upload tests flaky"
in https://drone.cernbox.cern.ch/cs3org/reva/8432/6/3
[code]

[2022-08-23 08:18] butonic commented on #3168
was actually not flaky in https://github.com/cs3org/reva/pull/3148.

Protip: when runnig the integration tests locally eg. with `ginkgo --until-it-fails tests/integration/grpc` run a `make clean build` or an old binary might be used to run the tests.

[2022-08-23 08:19] #3168 closed

[2022-08-31 19:55] mateusz-garlacz opened #3183 "Locks implementation"
Hi, when trying to invoke GetLock/SetLock against reva (master, two-server-setup) it throws "error: not supported: unimplemented". Is this implemented on any other branch? If not, is there any estimation when it could be implemented?

@labkode @gmgigi96 @wkloucek ?

Thank you

[2022-09-01 19:09] KarthikSundar2002 opened #3186 "Difficulties in using a random token in the OCM Invitation Workflow"
The WebDAV requests are made through a WebDAV client, which requires the x-access-token header to be set. The header should be a token of the username and password of that. Thus, it is difficult to set a random token for each share

[2022-09-08 13:14] butonic commented on #2927
The problem is that listing shares and links for a folder with 1000 entries makes a request with a resource id filter for every resource. the share / link manager then has to find shares for 1000 resource ids.

While that is possible, it is far from optimal. We are seeing performance bottlenecks for folders with thousands of files because the ocdav service currently does not cache the public share

[2022-09-08 15:05] butonic commented on #2927
We could add an If-Modified-Since like header to the List(Public)Shares calls. Then the (public) share managers can take into account an aggregated mtime of all shares in a space and only return the requested ids if they changed.

hm or add an mtime per resourceid?

[2022-09-09 08:50] gmgigi96 commented on #3183
Hi, for the local storage driver is still not implemented in any branch, but the implementation shouldn't be so difficult. I can work on it next week and having something ready so you can continue with https://github.com/sciencemesh/cs3api4lab/issues/157.

[2022-09-09 14:36] mateusz-garlacz commented on #3183
Thank you @gmgigi96 , that would be very helpful. Please keep me posted!

[2022-09-09 21:17] mateusz-garlacz commented on #3068
After some testing it seems that it also applies to writing into files shared with viewer permissions. Are the permissions anyway respected?

[2022-09-15 09:13] piotrWichlinskiSoftwaremind opened #3243 "ResourceInfo bug"
Working with shares I have encountered a problem when using two-server-config from Reva’s example configs when stating a shared file with resourceId / path I get two different opaque_id on the same file.
So when sharing a file when I stat /home/untitled2.txt I get:
storage_id: "123e4567-e89b-12d3-a456-426655440000"
opaque_id: " fileid-einstein/untitled2.txt"

And when stating the same shared file

[2022-09-15 11:40] micbar commented on #3166
Fixed by #3237

[2022-09-15 11:40] #3166 closed

[2022-09-26 15:26] glpatcern commented on #2543
(Not seen any longer, will reopen if it reoccurs)

[2022-09-26 15:26] #2543 closed

[2022-09-26 16:03] david-antos opened #3276 "Reva documentation"
https://reva.link/docs/config/ is missing any explanations what the configuration options actually mean (such as "this is an address of remote server to connect to using such-and-such protocol"). Construction of toml files for deployments was based mostly on guess-work and checking source code.

Majority of toml configuration options is missing completely (or just listed without any explanation).

[2022-09-29 02:02] amrita-shrestha commented on #2292
@individual-it Could we close this issue because https://github.com/owncloud/ocis/issues/2768 has been closed in ocis?

[owncloud/ocis#2795](https://github.com/owncloud/ocis/issues/2795) this ping issue is about **downloading an archive with a non-accessible id** but current opened issue in reva is about `downloading an archive with an invalid path`. Should this ocis issue [owncloud/ocis#2795](htt

[2022-10-06 12:33] SamuAlfageme opened #3318 "`reva download` fails silently"
The reva command is failing due to a routing error (i.e. `/iop` no longer being available) but no message is prompted to the user

[code]

[2022-10-06 14:46] labkode opened #3321 "Migrate testing infrastructure to GH Actions"
Today we rely on a on-premise DroneCI platform that CERN needs to maintain, the goal is to migrate to GH Actions.

[2022-10-06 15:37] SamuAlfageme opened #3322 "ocmproviderauthorizer: do not match providers full hostname against the 'domain' field"
Up until now, when accepting an OCM invitation, we match the users' IDP:

[code]

... with the `domain` from the ocm providers in Mentix:

[code]

However, while transitioning to production environments, these fields will be with actual IDP URLs. Like e.g.

[code]

This will result on an error as `https://auth.cern.ch/auth/realms/cern` does not match [`cern.ch` from the example `ocm-providers.json

[2022-10-06 16:22] mirekys commented on #3322
This might be related: https://github.com/pondersource/oc-sciencemesh/issues/19

[2022-10-06 23:35] phil-davis commented on #3321
Note for reference: https://docs.github.com/en/billing/managing-billing-for-github-actions/about-billing-for-github-actions
https://github.com/orgs/community/discussions/26054

It seems that GitHub Actions are free-unlimited for public repos. So it should be possible to run the existing sets of tests as GitHub Actions.

https://docs.github.com/en/actions/learn-github-actions/usage-limits-billing-a

[2022-10-07 07:43] labkode commented on #3321
@phil-davis thanks for the summary, we're also thinking on hosting a GH runner here to speed up the tests if needed.
GH actions provide much more integrations nowadays than Drone.

[2022-10-11 14:17] SamuAlfageme opened #3335 "reva-cli command wrapping the 'ListAllProviders' method"
It will ease out things quite a lot while testing the OCM invitation workflow to be able to run the `cs3/ocm/provider/v1beta1/ListAllProviders` from the CLI to understand which are the providers registered and whether `IsProviderAllowed`.

[2022-10-17 08:53] michielbdejong opened #3364 "OCM tutorial seems incomplete"
The step that is supposed to demonstrate [Accessing the share](https://reva.link/docs/tutorials/share-tutorial/#5-2-accessing-the-share-on-the-recipient-s-side) seems to be incomplete. It ends with [Accessing the *list of* shares](https://reva.link/docs/tutorials/share-tutorial/#5-2-2-access-the-list-of-received-shares) and the tutorial does not show how Marie can get access to the `"Example file"

[2022-10-17 09:01] michielbdejong commented on #3364
The sending side does have [`ocdav` enabled](https://github.com/cs3org/reva/blob/0d9d6923e1c75f4f6c4fbce90caae6459649bc2d/examples/ocmd/ocmd-server-1.toml#L134) and there is a [`dataprovider` service](https://github.com/cs3org/reva/blob/0d9d6923e1c75f4f6c4fbce90caae6459649bc2d/examples/ocmd/ocmd-server-1.toml#L119) which I guess must be the ["Data server"](https://reva.link/docs/tutorials/share-tu

[2022-10-17 09:05] michielbdejong commented on #3364
Hm
[code]
Maybe the tutorial is not even working with the latest revad versions, or maybe this error is due to something that's specific to the ocm-test-suite image and config. I'll try running it with the exact config from examples/ocmd

[2022-10-17 09:21] michielbdejong commented on #3364
[code]

[2022-10-17 09:28] michielbdejong commented on #3364
Working on this in https://github.com/cs3org/ocm-test-suite/tree/revad-edge-testing since I want to use the exact filenames as the tutorial and users/providers.demo.json have been edited in the main branch of the ocm-test-suite.

[2022-10-17 09:34] michielbdejong opened #3365 "Better error messages in ocmd flow"
As a first example:
[code]
Is it that an invite with that token has already been accepted? The invite store backend is not writable? The other reva instance is not reachable? The other reva instance returned an error code? If so which one?

[2022-10-17 09:34] michielbdejong commented on #3364
-> https://github.com/cs3org/reva/issues/3365

[2022-10-17 09:46] michielbdejong commented on #3365
Another urgent one: https://github.com/cs3org/reva/blob/v1.19.0/internal/http/services/ocmd/send.go#L119

[2022-10-17 09:56] michielbdejong commented on #3365
Working on this in the `ocmd-error-messages` branch

[2022-10-17 14:22] michielbdejong commented on #3365
Improved error message for the first one:
[code]

[2022-10-17 14:50] michielbdejong commented on #3365
A third one (from https://github.com/sciencemesh/oc-sciencemesh/issues/4):

[2022-10-18 08:33] michielbdejong commented on #3365
Fourth one: in the ocm-test-suite setup, when looking up sharees in oc1.docker, I'm seeing a call to `/cs3.gateway.v1beta1.GatewayAPI/FindAcceptedUsers` but I can't see the details of it.

[2022-10-18 13:50] michielbdejong commented on #3365
[code]

[2022-10-28 13:51] tbsbdr commented on #2965
 [owncloud/web#6648](https://github.com/owncloud/web/issues/6648) is done, @labkode @kulmann what needs to be done next?

[2022-10-28 17:57] kulmann commented on #2968
As far as I can tell this has been implemented in https://github.com/owncloud/web/pull/7430

[2022-10-31 08:36] michielbdejong commented on #3364
-> https://github.com/cs3org/ocm-test-suite/issues/63

[2022-10-31 14:57] redblom opened #3421 "User jwt x-access-token authenticates across multiple reva instances"
A jwt token issued at one reva instance can be used for a request to another reva instance. Using it in the x-access-token header, it will pass the [`authenticateUser`](https://github.com/cs3org/reva/blob/d9d8777218c3d5a944ca60a4059b91656e38bdf1/internal/http/interceptors/auth/auth.go#L190) method. Eg. you can do PROPFINDs with that token on the other instance providing a user with the same name e

[2022-11-02 08:12] labkode commented on #2965
@tbsbdr This is a good direction, thank you. @diocas is currently on a conference and is back next week to take a look at this development. Next week we'll probably be able to tell you more.

[2022-11-02 08:51] michielbdejong commented on #3364
Note: The upload should be done to some path under /home/ and you need to
`mkdir -p /var/tmp/reva/data/einstein/home`
on the revad server first.

In the tutorial it says to `mkdir /home/my-folder` first, will try if that also works.

[2022-11-02 08:52] michielbdejong commented on #3364
No, that step fails if `/var/tmp/reva/data/einstein/home` doesn't exist:
[code]

[2022-11-02 08:57] redblom commented on #3421
Yes indeed, I didn't mention that.
I'm actually concerned about the '_which should NEVER be the case_'. I assume that choosing the secret is out of our reach. I'm not a security expert, but shouldn't there always be (some minimal) claim checking (eg. issuer claim, ...) when the token has been dismantled?

[2022-11-02 09:58] redblom commented on #3421
If you can rule out the possibility that no secrets are ever used on more that one instance in the mesh than I guess you are 'save'. My point is that in reva there are no measures against that. That's how I found out about this in the first place.

The secret is only used to validate the format/structure of the token so it can be read, NOT its content for the context in which it is used. In other

[2022-11-03 09:17] redblom commented on #3421
Not true in this scenario. When a token is provided, the token is accepted [here](https://github.com/cs3org/reva/blob/7af9ad4b42a1506f5f6bea5f2a795e5efa3f08b6/internal/http/interceptors/auth/auth.go#L214) without! the claims validation. That's where the issue stems from. So my recommendation would be definitely do the claims validation here also. It's simply good practice.

As far as secrets are c

[2022-11-03 14:01] redblom commented on #3421
Ah Yes indeed, my bad. I missed that completely. Still it doesn't prevent the user from being authenticated, even though the eg. `user`, `iss` claims are not checked and the token was issued at another reva instance.
So if you think that that is not a problem I will close this issue, or you can do it. Thanks for responding.

[2022-11-04 10:54] butonic opened #3433 "edge: ocdav micro needs option to conifigure auth middleware"
https://github.com/cs3org/reva/blob/1bc292816a55e7a83fd5967a5baa25a5899d5194/pkg/micro/ocdav/service.go#L142-L156 currently does not allow configuring all options the http auth middleware supports: https://github.com/cs3org/reva/blob/1bc292816a55e7a83fd5967a5baa25a5899d5194/internal/http/interceptors/auth/auth.go#L64-L79

[2022-11-04 12:47] michielbdejong commented on #3364
Testing this how with Nextcloud->Reva->Reva->Nextcloud configuration.

[2022-11-04 14:32] michielbdejong commented on #3364
[code]

[2022-11-04 14:41] michielbdejong commented on #3364
[code]

[2022-11-04 14:58] michielbdejong commented on #3364
Improved error message:
[code]

[2022-11-07 08:47] #3421 closed

[2022-11-07 12:22] glpatcern commented on #443
I guess the intention at the time was to create a WOPI microservice within reva. I understand this may come back in the future, definitely not in the short term.

[2022-11-08 15:46] michielbdejong commented on #3364
Debugging this more in https://github.com/pondersource/sciencemesh-php/issues/102
Once that is working we can also show it in the ocmd tutorial.

[2022-11-10 10:41] michielbdejong opened #3442 "better error message in reva-cli when user authentication fails in the backend"
When you use for instance Nextcloud as the user backend, and the error logged there is:
[code]
In the revad logs you see:
[code]
In the reva-cli you see:
[code]

It could at least point you to the revad logs, or also copy the "Unexpected response code from EFSS API: 500" to the client.

[2022-11-10 10:55] michielbdejong opened #3444 "be more specific about error fetching user details"
[code]
it instead could say "idp not found", available idps are: ...

[2022-11-10 10:56] michielbdejong commented on #3442
same for ocm-share-create, it says "error creating share" in the CLI and could include the "Unexpected response code from EFSS API: 500" message which revad log does have.

[2022-11-10 14:27] micbar commented on #2967
Done. This is part of the ocis 2.0.0 release. The feature is disabled by default.

Enable it `FRONTEND_OCS_ENABLE_DENIALS=true`

[2022-11-10 14:27] #2967 closed

[2022-11-10 14:28] micbar commented on #2971
@labkode What can we do here? This seems to be CERN todo.

[2022-11-10 14:36] #2968 closed

[2022-11-10 14:40] micbar commented on #2972
Is there still some information needed? AFAICT this works as designed and can be closed.

[2022-11-10 14:40] #2972 closed

[2022-11-11 09:55] michielbdejong opened #3448 "panic: assignment to entry in nil map"
This error messages seems to be happening on master since last week.

[2022-11-11 09:58] michielbdejong commented on #3448
Work-around: `git checkout 392b4` and `make build-revad`

[2022-11-11 10:01] michielbdejong commented on #3448
Confirmed if you `git checkout a2b2109` you get the panic.
Very weird that CI didn't pick this up when #3401 was reviewed!

[2022-11-11 10:02] michielbdejong commented on #3448
@glpatcern can you confirm?

[2022-11-11 10:11] glpatcern commented on #3448
Indeed weird that it was not picked up in the CI (and it didn't even fire doing tests). I'll have a look.

[2022-11-11 16:26] glpatcern commented on #3448
OK, issue understood and fixed, PR on the way

[2022-11-11 22:18] michielbdejong commented on #3448
You mean both the bug and the reason that CI didn't catch it?

[2022-11-12 08:32] glpatcern commented on #3448
The bug was due to a bad assumption in case of invalid config, about the CI I guess it does not test such invalid configs.

[2022-11-14 08:14] michielbdejong commented on #3448
Hm, I think we have two options:
* call an empty mimetypes config "invalid", in which case this should be documented on reva.link, and also the error message should be 'empty mimetypes config not allowed' instead of panic. This would require:
  * change the error message
  * add a test
  * add docs
  * change all production configs
* call an empy mimetypes config "valid", in which case no document

[2022-11-14 09:03] glpatcern commented on #3448
Hi @michielbdejong, sorry I was too fast on Saturday: in fact a configuration with no parameters is perfectly valid for a driver such as the `demo` appprovider which, well, does not need parameters as it does not do much anyway.

So apart from doing "more or less work", the empty driver config is totally legitimate (and BTW that was the issue, not the empty mimetypes, which are fully optional on t

[2022-11-14 09:06] michielbdejong commented on #3448
You can try loading [this config](https://github.com/cs3org/ocm-test-suite/blob/main/servers/revad/revad1.toml) in a test, I think you will be able to reproduce the panic with that config file and with your patch not applied.

[2022-11-14 10:36] michielbdejong commented on #3448
This issue was closed when the PR was merged, but we still need to write the test for it.

@glpatcern will you still write that test, or should I?

[2022-11-14 12:34] michielbdejong commented on #3444
Also seeing this one now:
[code]

[2022-11-14 12:37] michielbdejong commented on #3444
ocminvitemanager is doing `status.NewInternal(ctx, err, "error fetching remote user details"),` which seems right, it seems the `error="error: not found: marie"` comes from the `err` there.

[2022-11-14 13:16] fengjiannan2010 opened #3460 "reva is running windows?"
Whether Reva can run on the windows platform, and if so can you provide an explanation. I compiled successfully on the windows platform, but the configuration file specified with -c cannot be started?

----------------------------------------------------------------------------------------------------------------------------------------------
PS E:\GO\reva\cmd\revad> .\revad.exe -c .\conf\users.de

[2022-11-14 17:07] glpatcern commented on #3448
Yes, that was the intention but today I got stuck with other things (and I anticipate tomorrow will be the same...), will push a PR with the test on Wednesday.

[2022-11-17 13:39] michielbdejong commented on #3448
Is there a GitHub issue for the integration tests in the CI?
I'll close this now, thanks for all the digging you did!

[2022-11-17 13:56] glpatcern commented on #3448
It was a good exercise nevertheless! The GitHub issue is not yet there, we have an internal one (@gmgigi96 is working on it), but it will come soon.

[2022-11-22 15:25] gmgigi96 commented on #3243
I think that the problem here is the config that is wrong. The two storage providers, one mounted in `/home` and the other in `/reva`, share the same `mount_id`. But this is wrong, as that parameter should be unique between all the storage drivers. The fact that the `opaque_id`s differ is totally fine, even if they are pointing to the same underlying file. In fact the routing of a Stat done by a `

[2022-11-22 20:58] butonic commented on #3243
IIRC master uses the home provider as a jail for the users home. The resources are in fact identical and as such should have the same resource id. when routing via id requests should use the storage provider at `/reva`. The `/home` provider just provides an alternative path. The original config by @labkode was also using the same storageid for both ...

on edge things are different because ocdav t

[2022-11-24 09:22] labkode commented on #3460
Hello @fengjiannan2010, that error looks like you have Windows character `\r` in your configuration file, if you fix the config it may run.

[2022-11-24 13:33] david-antos commented on #3276
I'm afraid this is quite crucial part of ScienceMesh deployments and the documentation is clearly mostly missing. Any plans to handle that?

[2022-11-24 15:03] labkode commented on #3276
@david-antos what areas should we look in priority? @gmgigi96 can you please follow-up on this while I'm away?

[2022-11-24 18:14] david-antos commented on #3276
Well, it's tempting to say "all of it", but let's be realistic and prioritise. It would be great to decide what belongs where. We discussed with @michielbdejong and came out with a principle that installation of Reva and configuration of it to work with OC10 and NC should be a part of Reva documentation as they are generic. The "Science Mesh docs" should just describe configs specific for Science

[2022-11-25 08:54] #2216 closed, assigned to nobody

[2022-11-26 19:45] jostreff opened #3498 "build 2.12.0 under freebsd"
Hi,
trying to build with go1.19.3 freebsd/amd64.
Building fails with following error:

# github.com/cs3org/reva/v2/pkg/storage/utils/localfs
/root/go/pkg/mod/github.com/cs3org/reva/v2@v2.12.0/pkg/storage/utils/localfs/localfs_unix.go:80:11: invalid operation: stat.Blocks - stat.Bavail (mismatched types uint64 and int64)
/root/go/pkg/mod/github.com/cs3org/reva/v2@v2.12.0/pkg/storage/utils/localfs/l